<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Kinder">

                <p:dataTable id="usersTable" widgetVar="$usersTable" var="child" value="#{parentService.getChildrenForParent(sessionViewController.person)}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="usersTable" fileName="childs"/>
                            </p:commandButton>



                        </p:outputPanel>


                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Name" sortBy="#{child}" filterBy="#{child.toString()}" filterStyle="display:none">
                        <h:outputText value="#{child.firstName}"/>&nbsp;<h:outputText value="#{child.lastName}"/>
                    </p:column>


                    <p:column headerText="Notfallkontakt" filterBy="#{child.emergencyContact}" filterStyle="display:none">
                        <h:outputText value="#{child.emergencyContact}" />
                    </p:column>

                    <p:column headerText="Geburtstag" filterBy="#{child.birthday}" filterStyle="display:none">
                        <h:outputText value="#{child.birthday}" />
                    </p:column>

                    <p:column headerText="Anmeldetage" filterBy="#{child.subDates}" filterStyle="display:none">
                        <h:outputText value="#{child.subDates}" />
                    </p:column>

                    <p:column style="width:100px;text-align: center" exportable="false">
                        <p:commandButton update=":userForm:childEditDialog" oncomplete="PF('childEditDialog').show()" icon="ui-icon-pencil" title="Bearbeiten">
                            <f:setPropertyActionListener value="#{child}" target="#{childDetailController.person}" />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>


                <p:dialog header="Kind bearbeiten" id="childEditDialog" widgetVar="childEditDialog" modal="true" showEffect="fade" hideEffect="fade" maximizable="true" responsive="true" closable="false">
                    <p:scrollPanel mode="native" style="max-height:700px">
                        <p:outputPanel id="userData" rendered="#{not empty childDetailController.person}">
                            <p:graphicImage value="#{childDetailController.person.photo}" width="200" style="float:right" />
                            <h:panelGrid columns="3">

                                <p:outputLabel for="firstname" value="Vorname:"/>
                                <p:inputText id="firstname" value="#{childDetailController.person.firstName}" required="true">
                                    <f:validateLength minimum="2" />
                                    <p:ajax update="msgFirstname" event="blur" />
                                </p:inputText>
                                <p:message for="firstname" id="msgFirstname" display="icon" />

                                <p:outputLabel for="lastname" value="Nachname:"/>
                                <p:inputText id="lastname" value="#{childDetailController.person.lastName}" required="true">
                                    <f:validateLength minimum="2" />
                                    <p:ajax update="msgLastname" event="blur" />
                                </p:inputText>
                                <p:message for="lastname" id="msgLastname" display="icon" />

                                <p:outputLabel for="subDates" value="Anmeldetage"/>
                                <p:pickList id="subDates" value="#{childDetailController.subdates}" var="subDates"
                                            itemValue="#{subDates}" itemLabel="#{subDates}" showCheckbox="true" responsive="true"
                                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains">
                                    <f:converter converterId="genericconv" />
                                    <f:facet name="sourceCaption">Nicht zugeordnet:</f:facet>
                                    <f:facet name="targetCaption">Zugeordnet:</f:facet>
                                </p:pickList>
                                <p:message for="subDates" id="msgSubDates" display="icon" />



                            </h:panelGrid>        
                            <h:panelGrid columns="3">
                                <p:commandButton value="Speichern" update=":userForm:usersTable dlgcontent" action="#{childDetailController.doSavePerson()}" oncomplete="PF('dlg').show()" />
                                <p:commandButton value="Abbrechen" action="#{childDetailController.doCancel()}" onclick="PF('childEditDialog').hide()" immediate="true" />
                            </h:panelGrid>
                        </p:outputPanel>
                    </p:scrollPanel>        
                </p:dialog>



                <p:dialog widgetVar="dlg" modal="true" resizable="false" header="#{childDetailController.successHeader}" showEffect="fade" closable="false"> 
                    <p:outputPanel id="dlgcontent">
                        <p:outputPanel>
                            <h:outputText value="#{childDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:usersTable" onclick="PF('childEditDialog').hide()" oncomplete="PF('dlg').hide()" rendered="#{childDetailController.success}" />
                            <p:commandButton value="OK" update="userData" oncomplete="PF('dlg').hide()" rendered="#{not childDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>