<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Anfragen">

                <p:dataTable id="dayExceptionTable" widgetVar="$dayExceptionTable" var="dayException" value="#{dayExceptionService.getAllforParent(sessionViewController.person)}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="dayExceptionTable" fileName="dayExceptionss"/>
                            </p:commandButton>


                            <p:commandButton action="#{dayExceptionDetailController.setNewDayException()}" update=":userForm:dayExceptionEditDialog" oncomplete="PF('dayExceptionEditDialog').show()" icon="ui-icon-plus" title="Anlegen">
                            </p:commandButton>

                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$dayExceptionTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$dayExceptionTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Kind" sortBy="#{dayException.child}" filterBy="#{dayException.child}" filterStyle="display:none">
                        <h:outputText value="#{dayException.child}"/>
                    </p:column>

                    <p:column headerText="Datum" sortBy="#{dayException.date}" filterBy="#{dayException.date}" filterStyle="display:none">
                        <h:outputText value="#{dayException.date}">
                            <f:convertDateTime locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Beschreibung" sortBy="#{dayException.description}" filterBy="#{dayException.description}" filterStyle="display:none">
                        <h:outputText value="#{dayException.description}"/>
                    </p:column>

                    <p:column headerText="Bestätigt" sortBy="#{dayException.confirmed}" filterBy="#{dayException.confirmed}" filterStyle="display:none">
                        <p:outputPanel layout="inline" styleClass="ui-icon ui-icon-check" rendered="#{dayException.confirmed}" />
                        <p:outputPanel layout="inline" styleClass="ui-icon ui-icon-closethick" rendered="#{not dayException.confirmed}" />
                    </p:column>

                    <p:column style="width:100px;text-align: center" exportable="false">

                        <p:commandButton update=":userForm:dayExceptionEditDialog" oncomplete="PF('dayExceptionEditDialog').show()" icon="ui-icon-pencil" title="Details" rendered="#{not dayException.confirmed}">
                            <f:setPropertyActionListener value="#{dayException}" target="#{dayExceptionDetailController.dayException}" />
                        </p:commandButton>

                        <p:commandButton action="#{dayExceptionDetailController.doDelete()}" oncomplete="#{dayExceptionListController.doReloadDayExceptionList()}" update=":userForm:dayExceptionTable" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{dayException}" target="#{dayExceptionDetailController.dayException}" />
                            <p:confirm header="Löschen bestätigen" message="Sind Sie wirklich sicher, dass die Anfrage gelöscht werden soll?"  icon="ui-icon-alert" />
                        </p:commandButton>

                    </p:column>

                </p:dataTable>

                <p:dialog header="Anfrage bearbeiten" id="dayExceptionEditDialog" widgetVar="dayExceptionEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">

                    <p:outputPanel id="dayExceptionData" rendered="#{not empty dayExceptionDetailController.dayException}">
                        <h:panelGrid columns="3">
                            <p:outputLabel for="child" value="Kind:"/>
                            <p:selectOneMenu id="child" value="#{dayExceptionDetailController.dayException.child}" filter="true" filterMatchMode="contains" required="true">
                                <f:validateRequired />
                                <f:converter converterId="genericconv" />
                                <f:selectItem itemLabel="Kind auswählen" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{parentService.getChildrenForParent(sessionViewController.person)}" var="child" itemLabel="#{child}" itemValue="#{child}" />
                            </p:selectOneMenu>        
                            <p:message for="child" id="msgChild" display="icon" />

                            <p:outputLabel for="Date" value="Datum:"/>
                            <p:calendar id="Date" value="#{dayExceptionDetailController.dayException.date}" required="true" showOn="button" locale="de" navigator="true">
                                <f:validateRequired />
                            </p:calendar>
                            <p:message for="Date" display="icon" />

                            <p:outputLabel for="description" value="Beschreibung:"/>
                            <p:inputText id="description" value="#{dayExceptionDetailController.dayException.description}" required="true">
                                <f:validateRequired />
                            </p:inputText>
                            <p:message for="description" id="msgdescription" display="icon" />

                            <p:outputLabel for="absent" value="Abwesend:"/>
                            <p:selectBooleanCheckbox id="absent" value="#{dayExceptionDetailController.dayException.absent}">
                                <p:ajax update="alternateBringTime alternateGetTime referencePerson" />
                            </p:selectBooleanCheckbox>
                            <p:message for="absent" display="icon" /> 

                            <p:outputLabel for="alternateBringTime" value="Alternative Bringzeit:"/>
                            <p:calendar id="alternateBringTime" value="#{dayExceptionDetailController.dayException.alternateBringTime}" pattern="HH:mm" timeOnly="true" required="false" disabled="#{dayExceptionDetailController.dayException.absent}" locale="de"/>
                            <p:message for="alternateBringTime" display="icon" />

                            <p:outputLabel for="alternateGetTime" value="Alternative Abholzeit:"/>
                            <p:calendar id="alternateGetTime" value="#{dayExceptionDetailController.dayException.alternateGetTime}" pattern="HH:mm" timeOnly="true" required="false" disabled="#{dayExceptionDetailController.dayException.absent}" locale="de"/>
                            <p:message for="alternateGetTime" display="icon" />

                            <p:outputLabel for="referencePerson" value="Abholen/bringen von Bezugsperson:"/>
                            <p:selectOneMenu id="referencePerson" value="#{dayExceptionDetailController.dayException.alternateGetter}" filter="true" filterMatchMode="contains" required="false" disabled="#{dayExceptionDetailController.dayException.absent}">
                                <f:converter converterId="genericconv" />
                                <f:selectItem itemLabel="Bezugsperson" itemValue="" noSelectionOption="false" />
                                <f:selectItems value="#{referencePersonService.getCreatedByAndIsActive(sessionViewController.person)}" var="referencePerson" itemLabel="#{referencePerson}" itemValue="#{referencePerson}" />
                            </p:selectOneMenu>        
                            <p:message for="referencePerson" id="msgReferencePerson" display="icon" />

                        </h:panelGrid>        
                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:dayExceptionTable dlgcontent" action="#{dayExceptionDetailController.doSaveDayException()}" oncomplete="PF('dlg').show()" />
                            <p:commandButton value="Abbrechen" action="#{dayExceptionDetailController.doCancel()}" onclick="PF('dayExceptionEditDialog').hide()" immediate="true"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:dialog widgetVar="dlg" modal="true" resizable="false" header="#{dayExceptionDetailController.successHeader}" showEffect="fade" closable="false"> 
                    <p:outputPanel id="dlgcontent">
                        <p:outputPanel>
                            <h:outputText value="#{dayExceptionDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:dayExceptionTable" onclick="PF('dayExceptionEditDialog').hide()" oncomplete="PF('dlg').hide()" rendered="#{dayExceptionDetailController.success}" />
                            <p:commandButton value="OK" update="dayExceptionData" oncomplete="PF('dlg').hide()" rendered="#{not dayExceptionDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" oncomplete="#{dayExceptionListController.doReloadDayExceptionList()}">
                        <p:ajax listener="#{dayExceptionListController.doReloadDayExceptionList()}" update=":userForm:dayExceptionTable" />
                    </p:commandButton>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:dayExceptionTable" />

                </p:confirmDialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>