<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:growl id="msg" showDetail="true" escape="false" />
            <p:panel header="Benutzerdaten" >

                #{parentDetailController.setPerson(sessionViewController.person)}
                <p:outputPanel id="userData">

                    <p:graphicImage value="#{parentDetailController.person.photo}" width="200" style="float:right" />
                    <h:panelGrid columns="3">

                        <p:outputLabel for="firstname" value="Vorname:"/>
                        <p:inputText id="firstname" value="#{parentDetailController.person.firstName}" required="true">
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgFirstname" event="blur" />
                        </p:inputText>
                        <p:message for="firstname" id="msgFirstname" display="icon" />

                        <p:outputLabel for="lastname" value="Nachname:"/>
                        <p:inputText id="lastname" value="#{parentDetailController.person.lastName}" required="true">
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgLastname" event="blur" />
                        </p:inputText>
                        <p:message for="lastname" id="msgLastname" display="icon" />

                        <p:outputLabel for="username" value="Benutzername:"/>
                        <p:inputText id="username" value="#{parentDetailController.person.user.username}" disabled="#{not parentDetailController.person.isNew()}" required="true">
                            <f:validateLength minimum="3" />
                            <p:ajax update="msgUsername" event="blur" />
                        </p:inputText>
                        <p:message for="username" id="msgUsername" display="icon" />

                        <p:outputLabel for="email" value="E-Mail:"/>
                        <p:inputText id="email" value="#{parentDetailController.person.email}" required="true">
                            <f:validateLength minimum="5" />
                            <p:ajax update="msgEmail" event="blur" />
                        </p:inputText>
                        <p:message for="email" id="msgEmail" display="icon" />

                        <p:outputLabel for="phone" value="Telefon:"/>
                        <p:inputMask id="phone" value="#{parentDetailController.person.phonePrivate}" mask="+(99) 9999?999999999" required="true">
                            <f:validateRequired />
                            <p:ajax update="msgPhone" event="blur" />
                        </p:inputMask>
                        <p:message for="phone" id="msgPhone" display="icon" />

                        <p:outputLabel for="businessphone" value="Telefon (geschäftlich):"/>
                        <p:inputMask id="businessphone" value="#{parentDetailController.person.phoneBusiness}" mask="+(99) 9999?999999999" required="false" />
                        <p:message for="businessphone" display="icon" />

                        <p:outputLabel for="street" value="Straße:"/>
                        <p:inputText id="street" value="#{parentDetailController.person.street}" required="true">
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgStreet" event="blur" />
                        </p:inputText>
                        <p:message for="street" id="msgStreet" display="icon" />

                        <p:outputLabel for="zip" value="PLZ:"/>
                        <p:inputText id="zip" value="#{parentDetailController.person.zipcode}" required="true">
                            <f:validateLength minimum="4" />
                            <p:ajax update="msgZip" event="blur" />
                        </p:inputText>
                        <p:message for="zip" id="msgZip" display="icon" />

                        <p:outputLabel for="city" value="Ort:"/>
                        <p:inputText id="city" value="#{parentDetailController.person.city}" required="true">
                            <f:validateLength minimum="2" />
                            <p:ajax update="msgCity" event="blur" />
                        </p:inputText>
                        <p:message for="city" id="msgCity" display="icon" />

                        <p:outputLabel for="gender" value="Geschlecht:"/>
                        <p:selectOneRadio id="gender" value="#{parentDetailController.person.gender}" required="true">
                            <f:selectItems value="#{parentService.getAllGenders()}" var="g" itemLabel="#{gender}" itemValue="#{gender}" />
                            <f:validateRequired />
                            <f:converter converterId="genericconv" />
                            <p:ajax update="msgGender" event="blur" />
                        </p:selectOneRadio>
                        <p:message for="gender" id="msgGender" display="icon" />

                        <p:outputLabel for="birthday" value="Geburtstag:"/>
                        <p:calendar id="birthday" value="#{parentDetailController.person.birthday}" required="false" showOn="button" locale="de" navigator="true" />
                        <p:message for="birthday" display="icon" />

                        <p:outputLabel for="photo" value="Foto:"/>
                        <p:fileUpload id="photo" fileUploadListener="#{fileUploadController.doUpload}" auto="true" fileLimit="1" mode="advanced" dragDropSupport="false" 
                                      update="uploaddone" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                        <p:commandButton id="uploaddone" value="Übernehmen" update=":userForm:userData" action="#{parentDetailController.person.setPhoto(fileUploadController.uploadpath)}" disabled="#{!fileUploadController.uploadDone}"/>                                

                    </h:panelGrid>        
                    <h:panelGrid columns="3">
                        <p:commandButton value="Speichern" update=":userForm:userData dlg" action="#{parentDetailController.doSavePerson()}" oncomplete= "PF('dlg').show()"  />

                        <p:commandButton value="Passwort ändern" update=":userForm:parentEditPWDialog" oncomplete="PF('parentEditPWDialog').show()">
                            <f:setPropertyActionListener value="#{parentDetailController.person}" target="#{parentDetailController.person2}" />
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </p:panel>
            <p:dialog id="dlg" widgetVar="dlg" modal="true" resizable="false" header="#{parentDetailController.successHeader}" showEffect="fade" closable="false"> 
                <p:outputPanel id="dlgcontent">
                    <p:outputPanel>
                        <h:outputText value="#{parentDetailController.successMsg}" />
                    </p:outputPanel>
                    <p:outputPanel>
                        <p:commandButton value="OK" update=":userForm:userData :userForm:parentEditPWDialog" oncomplete="PF('dlg').hide()" rendered="#{parentDetailController.success}" />
                        <p:commandButton value="OK" update=":userForm:userData msgpwd0 msgpwd1 msgpwd2" oncomplete="PF('dlg').hide()" rendered="#{not parentDetailController.success}" />
                    </p:outputPanel>

                </p:outputPanel>
            </p:dialog>

            <p:dialog header="Passwort ändern" id="parentEditPWDialog" widgetVar="parentEditPWDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">
                <p:outputPanel id="PWData" rendered="#{not empty parentDetailController.person2}">
                    <h:panelGrid columns="3" id="matchGrid" cellpadding="5">                   
                        <h:outputLabel for="pwd0" value="altes Passwort: *" />
                        <p:password id="pwd0" value="#{parentDetailController.passwortOld}" label="altes Password" required="true" />
                        <p:message id="msgpwd0" for="pwd0" display="icon" />

                        <h:outputLabel for="pwd1" value="Passwort: *" />
                        <p:password id="pwd1" value="#{parentDetailController.person2.user.password}" match="pwd2" label="Password 1" required="true" />
                        <p:message id="msgpwd1" for="pwd1" display="icon" />

                        <h:outputLabel for="pwd2" value="Passwort wiederholen: *" />
                        <p:password id="pwd2" value="#{parentDetailController.person2.user.password}" label="Password 2" required="true" />
                        <p:message id="msgpwd2" for="pwd2" display="icon" />
                    </h:panelGrid>
                    <h:panelGrid columns="3">
                        <p:commandButton value="Speichern" update=":userForm:userData dlg" action="#{parentDetailController.doSaveNewPassword()}" oncomplete="PF('dlg').show()" />
                        <p:commandButton value="Abbrechen" action="#{parentDetailController.doCancel()}" onclick="PF('staffEditPWDialog').hide()" immediate="true"/>
                    </h:panelGrid>
                </p:outputPanel>
            </p:dialog>

        </h:form>
    </ui:define>
</ui:composition>