<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Aufgaben">

                <p:dataTable id="taskTable" widgetVar="$taskTable" var="task" value="#{taskService.getTasksForParent(sessionViewController.person)}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="taskTable" fileName="tasks"/>
                            </p:commandButton>




                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$taskTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$taskTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Titel" sortBy="#{task.title}" filterBy="#{task.title}" filterStyle="display:none">
                        <h:outputText value="#{task.title}"/>
                    </p:column>

                    <p:column headerText="Beschreibung" sortBy="#{task.description}" filterBy="#{task.description}" filterStyle="display:none">
                        <h:outputText value="#{task.description}"/>
                    </p:column>

                    <p:column headerText="Bisdatum" sortBy="#{task.toDate}" filterBy="#{task.toDate}" filterStyle="display:none">
                        <h:outputText value="#{task.toDate}">
                            <f:convertDateTime locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Erledigt" sortBy="#{task.done}" filterBy="#{task.done}" filterStyle="display:none">
                        <h:outputText value="#{task.done}">
                            <f:convertDateTime locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>


                </p:dataTable>



            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>