<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">     
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:growl id="msg" showDetail="true" escape="false" />
            <p:panel id="page" header="Übersicht Kinder">

                #{childListController.setFilter(1)}

                <p:dataTable id="childrenTable" widgetVar="$childrenTable" var="child" value="#{childListController.personList}" filteredValue="#{childListController.filteredPersons}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="childrenTable" fileName="children"/>
                            </p:commandButton>

                            <p:commandButton id="createchild" action="#{childDetailController.setNewPerson()}" update=":userForm:childEditDialog" oncomplete="PF('childEditDialog').show()" icon="ui-icon-plus" title="Anlegen">
                            </p:commandButton>

                        </p:outputPanel>

                        <p:selectOneMenu value="#{childListController.filter}">
                            <f:selectItems value="#{childListController.filters}" />
                            <p:ajax listener="#{childListController.doReloadPersonList}" update=":userForm:childrenTable" />
                        </p:selectOneMenu>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$childrenTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$childrenTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                    </f:facet>

                    <p:column headerText="Name" sortBy="#{child}" filterBy="#{child}" filterStyle="display:none" sortFunction="#{childListController.sortByName}">
                        <h:outputText value="#{child}"/>
                    </p:column>


                    <p:column headerText="Eltern" filterBy="#{child.parents.toString()}" filterStyle="display:none" >
                        <ui:repeat value="#{child.parents}" var="parent">
                            <h:outputText value="#{parent}"/> <h:outputText value="&lt;br/&gt;" escape="false" />
                        </ui:repeat>
                    </p:column>


                    <p:column headerText="Allergien" sortBy="#{child.allergies}" filterBy="#{child.allergies}" filterStyle="display:none">
                        <h:outputText value="#{child.allergies}" />
                    </p:column>

                    <p:column headerText="Geburtstag" sortBy="#{child.birthday}" filterBy="#{child.birthday}" filterStyle="display:none">
                        <h:outputText value="#{child.birthday}">
                            <f:convertDateTime locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>


                    <p:column style="width:200px;text-align: center" exportable="false">
                        <p:commandButton update=":userForm:childDataDialog" oncomplete="PF('childDataDialog').show()" icon="ui-icon-note" title="Stammdaten">
                            <f:setPropertyActionListener value="#{child}" target="#{childDetailController.person}" />
                        </p:commandButton>
                        <p:commandButton update=":userForm:childEditDialog" oncomplete="PF('childEditDialog').show()" icon="ui-icon-pencil" title="Bearbeiten">
                            <f:setPropertyActionListener value="#{child}" target="#{childDetailController.person}" />
                        </p:commandButton>
                        <p:commandButton action="#{childDetailController.doToggleEnablePerson()}" oncomplete="#{childListController.doReloadPersonList()}" update="userForm" icon="ui-icon-arrowthickstop-1-e" title="Abmelden/Anmelden">
                            <f:setPropertyActionListener value="#{child}" target="#{childDetailController.person}" />
                            <p:confirm header="Abmelden bestätigen" message="Sind Sie wirklich sicher, dass dieses Kind abgemeldet werden soll? Das geplante Abmeldedatum ist der #{child.deRegistrationDate}." icon="ui-icon-alert" />
                        </p:commandButton>
                        <p:commandButton action="#{childDetailController.doDeletePerson()}" oncomplete="#{childListController.doReloadPersonList()}" update="userForm" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{child}" target="#{childDetailController.person}" />
                            <p:confirm header="Löschen bestätigen" message="Sind Sie wirklich sicher, dass dieses Kind gelöscht werden soll? Abhängige Einträge werden auch gelöscht" icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>

                <p:dialog header="Stammdaten" id="childDataDialog" widgetVar="childDataDialog" modal="true" showEffect="fade" hideEffect="fade" maximizable="true" responsive="true" closable="false">
                    <p:scrollPanel mode="native" style="max-height:700px; margin-bottom: 45px">
                        <p:outputPanel id="userDataView" rendered="#{not empty childDetailController.person}">
                            <p:graphicImage value="#{childDetailController.person.photo}" width="200" style="float:right" />
                            <h:panelGrid columns="2">

                                <p:outputLabel for="firstnameView" value="Vorname:"/>
                                <p:outputLabel id="firstnameView" value="#{childDetailController.person.firstName}" />

                                <p:outputLabel for="lastnameView" value="Nachname:"/>
                                <p:outputLabel id="lastnameView" value="#{childDetailController.person.lastName}" />

                                <p:outputLabel for="genderView" value="Geschlecht:"/>
                                <p:outputLabel id="genderView" value="#{childDetailController.person.gender.toString()}" />

                                <p:outputLabel for="birthdayView" value="Geburtstag:"/>
                                <p:outputLabel id="birthdayView" value="#{childDetailController.person.birthday}">
                                    <f:convertDateTime locale="de" timeZone="CET"/>
                                </p:outputLabel>

                                <p:outputLabel for="regView" value="Anmeldedatum:"/>
                                <p:outputLabel id="regView" value="#{childDetailController.person.registrationDate}">
                                    <f:convertDateTime locale="de" timeZone="CET"/>
                                </p:outputLabel>

                                <p:outputLabel for="deregView" value="Abmeldedatum:"/>
                                <p:outputLabel id="deregView" value="#{childDetailController.person.deRegistrationDate}">
                                    <f:convertDateTime locale="de" timeZone="CET"/>
                                </p:outputLabel>

                                <p:outputLabel for="parentsView" value="Erziehungsberechtigte:"/>
                                <ui:repeat id="parentsView" value="#{childDetailController.person.parents}" var="parent">
                                    <h:outputText value="#{parent}"/> <h:outputText value="&lt;br/&gt;" escape="false" />
                                </ui:repeat>

                                <p:outputLabel for="emergencyView" value="Notfallkontakt:"/>
                                <p:outputLabel id="emergencyView" value="#{childDetailController.person.emergencyContact}" />

                                <p:outputLabel for="allergiesView" value="Allergien:"/>
                                <p:outputLabel id="allergiesView" value="#{childDetailController.person.allergies}" />

                                <p:outputLabel for="siblingsView" value="Geschwister:"/>
                                <ui:repeat id="siblingsView" value="#{childDetailController.person.siblings}" var="sibling">
                                    <h:outputText value="#{sibling}"/> <h:outputText value="&lt;br/&gt;" escape="false" />
                                </ui:repeat>

                                <p:outputLabel for="commentView" value="Anmerkungen:"/>
                                <p:outputLabel id="commentView" value="#{childDetailController.person.comments}" />

                            </h:panelGrid>

                        </p:outputPanel>
                    </p:scrollPanel>
                    <h:panelGrid columns="1">
                        <p:commandButton value="Schließen" action="#{childDetailController.doCancel()}" onclick="PF('childDataDialog').hide()" immediate="true" />
                    </h:panelGrid>

                </p:dialog>

                <p:dialog header="Kind erstellen/bearbeiten" id="childEditDialog" widgetVar="childEditDialog" modal="true" showEffect="fade" hideEffect="fade" maximizable="true" responsive="true" closable="false">
                    <p:scrollPanel mode="native" style="max-height:700px; margin-bottom: 45px">
                        <p:outputPanel id="userData" rendered="#{not empty childDetailController.person}">
                            <p:graphicImage value="#{childDetailController.person.photo}" width="200" style="float:right" />
                            <h:panelGrid columns="3">

                                <p:outputLabel for="firstname" value="Vorname:"/>
                                <p:inputText id="firstname" value="#{childDetailController.person.firstName}" required="true">
                                    <f:validateLength minimum="2" />
                                    <p:ajax update="msgFirstname" event="blur" />
                                </p:inputText>
                                <p:message for="firstname" id="msgFirstname" display="icon" />

                                <p:outputLabel for="lastname" value="Nachname:"/>
                                <p:inputText id="lastname" value="#{childDetailController.person.lastName}" required="true">
                                    <f:validateLength minimum="2" />
                                    <p:ajax update="msgLastname" event="blur" />
                                </p:inputText>
                                <p:message for="lastname" id="msgLastname" display="icon" />

                                <p:outputLabel for="gender" value="Geschlecht:"/>
                                <p:selectOneRadio id="gender" value="#{childDetailController.person.gender}" required="true">
                                    <f:selectItems value="#{childService.getAllGenders()}" var="g" itemLabel="#{gender}" itemValue="#{gender}" />
                                    <f:validateRequired />
                                    <f:converter converterId="genericconv" />
                                    <p:ajax update="msgGender" event="blur" />
                                </p:selectOneRadio>
                                <p:message for="gender" id="msgGender" display="icon" />

                                <p:outputLabel for="birthday" value="Geburtstag:"/>
                                <p:calendar id="birthday" value="#{childDetailController.person.birthday}" readonlyInput="true" yearRange="c-5:c" required="true" showOn="button" locale="de" navigator="true">
                                    <f:validateRequired />
                                </p:calendar>
                                <p:message for="birthday" id="msgBirthday" display="icon" />

                                <p:outputLabel for="reg" value="Anmeldedatum:"/>
                                <p:calendar id="reg" value="#{childDetailController.person.registrationDate}" readonlyInput="true" maxdate="#{childDetailController.person.deRegistrationDate}" required="true" showOn="button" locale="de" navigator="true">
                                    <f:validateRequired />
                                    <p:ajax event="dateSelect" update="dereg" />
                                </p:calendar>
                                <p:message for="reg" id="msgReg" display="icon" />

                                <p:outputLabel for="dereg" value="Abmeldedatum:"/>
                                <p:calendar id="dereg" value="#{childDetailController.person.deRegistrationDate}" readonlyInput="true" mindate="#{childDetailController.person.registrationDate}" required="true" showOn="button" locale="de" navigator="true">
                                    <f:validateRequired />
                                    <p:ajax event="dateSelect" update="reg" />
                                </p:calendar>
                                <p:message for="dereg" id="msgDereg" display="icon" />

                                <p:outputLabel for="photo" value="Foto:"/>
                                <p:fileUpload id="photo" fileUploadListener="#{fileUploadController.doUpload}" auto="true" fileLimit="1" mode="advanced" dragDropSupport="false" 
                                              update="uploaddone" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                                <p:commandButton id="uploaddone" value="Übernehmen" update=":userForm:userData" action="#{childDetailController.person.setPhoto(fileUploadController.uploadpath)}" disabled="#{!fileUploadController.uploadDone}"/>                                

                                <p:outputLabel for="parents" value="Erziehungsberechtigte:"/>
                                <p:pickList id="parents" value="#{childDetailController.parents}" var="parent"
                                            itemValue="#{parent}" itemLabel="#{parent}" showCheckbox="true" responsive="true"
                                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" required="true">
                                    <f:converter converterId="genericconv" />
                                    <f:facet name="sourceCaption">Nicht zugeordnet:</f:facet>
                                    <f:facet name="targetCaption">Zugeordnet:</f:facet>
                                    <f:validateRequired />
                                </p:pickList>
                                <p:message for="parents" id="msgParents" display="icon" />

                                <p:outputLabel for="subDates" value="Anmeldetage"/>
                                <p:pickList id="subDates" value="#{childDetailController.subdates}" var="subDate"
                                            itemValue="#{subDate}" itemLabel="#{subDate.toString()}" showCheckbox="true" responsive="true"
                                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains">
                                    <f:converter converterId="genericconv" />
                                    <f:facet name="sourceCaption">Nicht zugeordnet:</f:facet>
                                    <f:facet name="targetCaption">Zugeordnet:</f:facet>
                                    <p:ajax event="transfer" listener="#{childDetailController.onSubdateTransfer}" update="msg" />
                                </p:pickList>
                                <p:message for="subDates" id="msgSubDates" display="icon" />

                                <p:outputLabel for="emergency" value="Notfallkontakt:"/>
                                <p:selectOneMenu id="emergency" value="#{childDetailController.person.emergencyContact}" filter="true" filterMatchMode="contains" required="true">
                                    <f:validateRequired />
                                    <f:converter converterId="genericconv" />
                                    <f:selectItem itemLabel="Kontakt auswählen" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{personService.getAllPersons()}" var="contact" itemLabel="#{contact.toString()}" itemValue="#{contact}" />
                                </p:selectOneMenu>        
                                <p:message for="emergency" id="msgEmergency" display="icon" />

                                <p:outputLabel for="allergies" value="Allergien:"/>
                                <p:inputText id="allergies" value="#{childDetailController.person.allergies}" required="false"/>
                                <p:message for="allergies" display="icon" />

                                <p:outputLabel for="siblings" value="Geschwister:"/>
                                <p:pickList id="siblings" value="#{childDetailController.siblings}" var="sibling"
                                            itemValue="#{sibling}" itemLabel="#{sibling}" showCheckbox="true" responsive="true"
                                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" required="false">
                                    <f:converter converterId="genericconv" />
                                    <f:facet name="sourceCaption">Nicht zugeordnet:</f:facet>
                                    <f:facet name="targetCaption">Zugeordnet:</f:facet>
                                </p:pickList>
                                <p:message for="siblings" id="msgSiblings" display="icon" />

                                <p:outputLabel for="comment" value="Anmerkungen:"/>
                                <p:inputTextarea id="comment" value="#{childDetailController.person.comments}" required="false"/>
                                <p:message for="comment" display="icon" />

                            </h:panelGrid>
                        </p:outputPanel>

                    </p:scrollPanel>

                    <h:panelGrid columns="3">
                        <p:commandButton id="save" value="Speichern" update=":userForm:childrenTable dlgcontent" action="#{childDetailController.doSavePerson()}" oncomplete="PF('dlg').show()" />
                        <p:commandButton value="Abbrechen" action="#{childDetailController.doCancel()}" onclick="PF('childEditDialog').hide()" immediate="true" />
                    </h:panelGrid>

                </p:dialog>


                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" oncomplete="#{childListController.doReloadPersonList()}">
                        <p:ajax listener="#{childListController.doReloadPersonList}" update=":userForm:childrenTable" />
                    </p:commandButton>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:childrenTable" />

                </p:confirmDialog>

                <p:dialog widgetVar="dlg" modal="true" resizable="false" header="#{childDetailController.successHeader}" showEffect="fade" closable="false"> 
                    <p:outputPanel id="dlgcontent">
                        <p:outputPanel>
                            <h:outputText id="succmsg" value="#{childDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:childrenTable" onclick="PF('childEditDialog').hide()" oncomplete="PF('dlg').hide()" rendered="#{childDetailController.success}" />
                            <p:commandButton value="OK" update="userData" oncomplete="PF('dlg').hide()" rendered="#{not childDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>