<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="contactForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht aktuelle Kontaktpersonen">

                <p:dataTable id="contactTable" var="contact" widgetVar="$contactTable" value="#{personService.allContactPersons}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="contactTable" fileName="Kontakte"/>
                            </p:commandButton>

                        </p:outputPanel>
                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$contactTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$contactTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>
                    <p:column headerText="Foto" width="150" exportable="false">
                        <p:graphicImage value="#{contact.photo}" width="150" style="float:left"/>
                    </p:column>

                    <p:column headerText="Vorname" sortBy="#{contact.firstName}" filterBy="#{contact.firstName}" filterStyle="display:none">
                        <h:outputText value="#{contact.firstName}"/>
                    </p:column>
                    <p:column headerText="Nachname" sortBy="#{contact.lastName}" filterBy="#{contact.lastName}" filterStyle="display:none">
                        <h:outputText value="#{contact.lastName}"/>
                    </p:column>
                    <p:column headerText="Telefon" sortBy="#{contact.phonePrivate}" filterBy="#{contact.phonePrivate}" filterStyle="display:none">
                        <h:outputText value="#{contact.phonePrivate}" />
                    </p:column>
                    <p:column headerText="Telefon" sortBy="#{contact.phoneBusiness}" filterBy="#{contact.phoneBusiness}" filterStyle="display:none">
                        <h:outputText value="#{contact.phoneBusiness}" />
                    </p:column>
                    <p:column headerText="E-Mail" sortBy="#{contact.email}" filterBy="#{contact.email}" filterStyle="display:none">
                        <h:outputText value="#{contact.email}" />
                    </p:column>
                    <p:column headerText="Postleitzahl" sortBy="#{contact.zipcode}" filterBy="#{contact.zipcode}" filterStyle="display:none">
                        <h:outputText value="#{contact.zipcode}" />
                    </p:column>
                    <p:column headerText="Stadt" sortBy="#{contact.city}" filterBy="#{contact.city}" filterStyle="display:none">
                        <h:outputText value="#{contact.city}" />
                    </p:column>
                    <p:column headerText="Straße" sortBy="#{contact.street}" filterBy="#{contact.street}" filterStyle="display:none">
                        <h:outputText value="#{contact.street}" />
                    </p:column>

                </p:dataTable>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>