<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Relationen">


                <p:dataTable id="referenceTable" widgetVar="$referenceTable" var="reference" value="#{childRefPersonRelationshipListController.childRefPersonRelationList}" filteredValue="#{childRefPersonRelationshipListController.filteredchildrefPersonRelationList}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">
                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="referenceTable" fileName="KindRelationen"/>
                            </p:commandButton>


                            <p:commandButton action="#{childRefPersonRelationshipDetailController.setNewChildRefPersonRelation()}" update=":userForm:referenceEditDialog" oncomplete="PF('referenceEditDialog').show()" icon="ui-icon-plus" title="Anlegen">
                            </p:commandButton>

                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$referenceTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$referenceTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Kind" filterStyle="display:none" filterBy="#{reference.child}">
                        <h:outputText value="#{reference.child}" />
                    </p:column>

                    <p:column headerText="Bezugsperson" filterStyle="display:none" filterBy="#{reference.referencePerson}">
                        <h:outputText value="#{reference.referencePerson}" />
                    </p:column>

                    <p:column headerText="Relation" filterStyle="display:none" filterBy="#{reference.relation}">
                        <h:outputText value="#{reference.relation}" />
                    </p:column>
                    <p:column style="width:100px;text-align: center" exportable="false">
                        <p:commandButton update=":userForm:referenceEditDialog" oncomplete="PF('referenceEditDialog').show()" icon="ui-icon-pencil" title="Bearbeiten">
                            <f:setPropertyActionListener value="#{reference}" target="#{childRefPersonRelationshipDetailController.childRefPersonRelation}" />
                        </p:commandButton>
                        <p:commandButton action="#{childRefPersonRelationshipDetailController.doDeleteRelation()}" oncomplete="#{childRefPersonRelationshipDetailController.doReloadChildRefPersonRelation()}" update="userForm" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{reference}" target="#{childRefPersonRelationshipDetailController.childRefPersonRelation}" />
                            <p:confirm header="Löschen bestätigen" message="Sind Sie wirklich sicher, dass die Relation gelöscht werden soll?"  icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>
            </p:panel>



            <p:panel id="page2" header="Übersicht Bezugspersonen">

                #{ReferencePersonListController.setFilter(1)}

                <p:dataTable id="referencePersonTable" widgetVar="$referencePersonTable" var="referencePerson" value="#{referencePersonListController.personList}" filteredValue="#{referencePersonListController.filteredPersons}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="referencePersonTable" fileName="referencePersons"/>
                            </p:commandButton>

                            <p:commandButton action="#{referencePersonDetailController.setNewPerson()}" update=":userForm:referencePersonEditDialog" oncomplete="PF('referencePersonEditDialog').show()" icon="ui-icon-plus" title="Anlegen">
                            </p:commandButton>

                        </p:outputPanel>

                        <p:selectOneMenu value="#{referencePersonListController.filter}">
                            <f:selectItems value="#{referencePersonListController.filters}" />
                            <p:ajax listener="#{referencePersonListController.doReloadPersonList}" update=":userForm:referencePersonTable" />
                        </p:selectOneMenu>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$referencePersonTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$referencePersonTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                    </f:facet>

                    <p:column headerText="Name" sortBy="#{referencePerson}" filterBy="#{referencePerson.toString()}" filterStyle="display:none" sortFunction="#{referencePersonListController.sortByName}">
                        <h:outputText value="#{referencePerson}"/>
                    </p:column>
                    <p:column headerText="Telefon" filterBy="#{referencePerson.phonePrivate}" filterStyle="display:none">
                        <h:outputText value="#{referencePerson.phonePrivate}" /><h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="#{referencePerson.phoneBusiness}" />
                    </p:column>
                    <p:column headerText="E-Mail" filterBy="#{referencePerson.email}" filterStyle="display:none">
                        <h:outputText value="#{referencePerson.email}" />
                    </p:column>

                    <p:column headerText="bestätigt" filterBy="#{referencePerson.enabled}" filterStyle="display:none">
                        <p:outputPanel layout="inline" styleClass="ui-icon ui-icon-check" rendered="#{referencePerson.enabled}" />
                        <p:outputPanel layout="inline" styleClass="ui-icon ui-icon-closethick" rendered="#{not referencePerson.enabled}" />

                    </p:column>


                    <p:column style="width:150px;text-align: center" exportable="false">
                        <p:commandButton rendered="#{not referencePerson.enabled}" action="#{referencePersonDetailController.doConfirm()}" oncomplete="#{referencePersonListController.doReloadPersonList()}" update="userForm" icon="ui-icon-check" title="Bestätigen">
                            <f:setPropertyActionListener value="#{referencePerson}" target="#{referencePersonDetailController.person}" />
                            <p:confirm header="Bestätigen" message="Sind Sie wirklich sicher, dass sie diese Person als Bezugsperson freischalten wollen?" />
                        </p:commandButton>
                        <p:commandButton update=":userForm:referencePersonEditDialog" oncomplete="PF('referencePersonEditDialog').show()" icon="ui-icon-pencil" title="Bearbeiten">
                            <f:setPropertyActionListener value="#{referencePerson}" target="#{referencePersonDetailController.person}" />
                        </p:commandButton>
                        <p:commandButton action="#{referencePersonDetailController.doDeletePerson()}" oncomplete="#{referencePersonListController.doReloadPersonList()}" update="userForm" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{referencePerson}" target="#{referencePersonDetailController.person}" />
                            <p:confirm header="Löschen bestätigen" message="Sind Sie wirklich sicher, dass dieser Benutzer gelöscht werden soll? Bei Erziehungsberechtigten werden sämtliche Kinder und Bezugspersonen mitgelöscht." icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>

                <p:dialog header="Bezugsperson erstellen/bearbeiten" id="referencePersonEditDialog" widgetVar="referencePersonEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">

                    <p:outputPanel id="userData" rendered="#{not empty referencePersonDetailController.person}">
                        <p:graphicImage value="#{referencePersonDetailController.person.photo}" width="200" style="float:right" />
                        <h:panelGrid columns="3">

                            <p:outputLabel for="firstname" value="Vorname:"/>
                            <p:inputText id="firstname" value="#{referencePersonDetailController.person.firstName}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgFirstname" event="blur" />
                            </p:inputText>
                            <p:message for="firstname" id="msgFirstname" display="icon" />

                            <p:outputLabel for="lastname" value="Nachname:"/>
                            <p:inputText id="lastname" value="#{referencePersonDetailController.person.lastName}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgLastname" event="blur" />
                            </p:inputText>
                            <p:message for="lastname" id="msgLastname" display="icon" />


                            <p:outputLabel for="email" value="E-Mail:"/>
                            <p:inputText id="email" value="#{referencePersonDetailController.person.email}" required="true">
                                <f:validateLength minimum="5" />
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                <p:ajax update="msgEmail" event="blur" />
                            </p:inputText>
                            <p:message for="email" id="msgEmail" display="icon" />

                            <p:outputLabel for="phone" value="Telefon:"/>
                            <p:inputMask id="phone" value="#{referencePersonDetailController.person.phonePrivate}" mask="+(99) 9999?999999999" required="true">
                                <f:validateRequired />
                                <p:ajax update="msgPhone" event="blur" />
                            </p:inputMask>
                            <p:message for="phone" id="msgPhone" display="icon" />

                            <p:outputLabel for="businessphone" value="Telefon (geschäftlich):"/>
                            <p:inputMask id="businessphone" value="#{referencePersonDetailController.person.phoneBusiness}" mask="+(99) 9999?999999999" required="false" />
                            <p:message for="businessphone" display="icon" />

                            <p:outputLabel for="street" value="Straße:"/>
                            <p:inputText id="street" value="#{referencePersonDetailController.person.street}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgStreet" event="blur" />
                            </p:inputText>
                            <p:message for="street" id="msgStreet" display="icon" />

                            <p:outputLabel for="zip" value="PLZ:"/>
                            <p:inputText id="zip" value="#{referencePersonDetailController.person.zipcode}" required="true">
                                <f:validateLength minimum="4" />
                                <p:ajax update="msgZip" event="blur" />
                            </p:inputText>
                            <p:message for="zip" id="msgZip" display="icon" />

                            <p:outputLabel for="city" value="Ort:"/>
                            <p:inputText id="city" value="#{referencePersonDetailController.person.city}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgCity" event="blur" />
                            </p:inputText>
                            <p:message for="city" id="msgCity" display="icon" />

                            <p:outputLabel for="createUser" value="Anlegen für:"/>
                            <p:selectOneMenu id="createUser" value="#{referencePersonDetailController.person.createUser}" filter="true" filterMatchMode="contains" required="true">
                                <f:converter converterId="genericconv" />
                                <f:selectItem itemLabel="User Auswählen" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{parentListController.personList}" var="createUser" itemLabel="#{Person}" itemValue="#{Person}" />
                            </p:selectOneMenu>        
                            <p:message for="createUser" id="msgCreateUser" display="icon" />

                            <p:outputLabel for="gender" value="Geschlecht:"/>
                            <p:selectOneRadio id="gender" value="#{referencePersonDetailController.person.gender}" required="true">
                                <f:selectItems value="#{referencePersonService.getAllGenders()}" var="g" itemLabel="#{gender}" itemValue="#{gender}" />
                                <f:validateRequired />
                                <f:converter converterId="genericconv" />
                                <p:ajax update="msgGender" event="blur" />
                            </p:selectOneRadio>
                            <p:message for="gender" id="msgGender" display="icon" />

                            <p:outputLabel for="birthday" value="Geburtstag:"/>
                            <p:calendar id="birthday" value="#{referencePersonDetailController.person.birthday}" required="false" readonlyInput="true" yearRange="c-10:c" showOn="button" locale="de" navigator="true" />
                            <p:message for="birthday" display="icon" />

                            <p:outputLabel for="photo" value="Foto:"/>
                            <p:fileUpload id="photo" fileUploadListener="#{fileUploadController.doUpload}" auto="true" fileLimit="1" mode="advanced" dragDropSupport="false" 
                                          update="uploaddone" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                            <p:commandButton id="uploaddone" value="Übernehmen" update=":userForm:userData" action="#{referencePersonDetailController.person.setPhoto(fileUploadController.uploadpath)}" disabled="#{!fileUploadController.uploadDone}"/>


                        </h:panelGrid>        
                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:referencePersonTable dlgcontent" action="#{referencePersonDetailController.doSavePerson()}" oncomplete="PF('dlg').show()" />
                            <p:commandButton value="Abbrechen" action="#{referencePersonDetailController.doCancel()}" onclick="PF('referencePersonEditDialog').hide()" immediate="true" />
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" oncomplete="#{referencePersonListController.doReloadPersonList()}">
                        <p:ajax listener="#{referencePersonListController.doReloadPersonList()}" update=":userForm:referencePersonTable" />
                    </p:commandButton>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:referencePersonTable" />

                </p:confirmDialog>


                <p:dialog header="Relation erstellen/bearbeiten" id="referenceEditDialog" widgetVar="referenceEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">

                    <p:outputPanel id="referenceData" rendered="#{not empty childRefPersonRelationshipDetailController.childRefPersonRelation}">

                        <h:panelGrid columns="3">

                            <p:outputLabel for="child" value="Kind:"/>
                            <p:selectOneMenu id="child" value="#{childRefPersonRelationshipDetailController.childRefPersonRelation.child}" filter="true" filterMatchMode="contains" required="true">
                                <f:converter converterId="genericconv" />
                                <f:selectItem itemLabel="Kind auswählen" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{childListController.personList}" var="child" itemLabel="#{child}" itemValue="#{child}" />
                            </p:selectOneMenu>        
                            <p:message for="child" id="msgChild" display="icon" />

                            <p:outputLabel for="referencePerson" value="Bezugsperson:"/>
                            <p:selectOneMenu id="referencePerson" value="#{childRefPersonRelationshipDetailController.childRefPersonRelation.referencePerson}" filter="true" filterMatchMode="contains" required="true">
                                <f:converter converterId="genericconv" />
                                <f:selectItem itemLabel="Bezugsperson auswählen" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{referencePersonListController.personList}" var="referencePerson" itemLabel="#{referencePerson}" itemValue="#{referencePerson}" />
                            </p:selectOneMenu>        
                            <p:message for="referencePerson" id="msgReferencePerson" display="icon" />

                            <p:outputLabel for="relation" value="Relation:"/>
                            <p:inputText id="relation" value="#{childRefPersonRelationshipDetailController.childRefPersonRelation.relation}" required="true">
                                <f:validateLength minimum="1" />
                            </p:inputText>
                            <p:message for="relation" id="msgRelation" display="icon" />


                        </h:panelGrid>        
                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:referenceTable dlgcontentrel" action="#{childRefPersonRelationshipDetailController.doSaveRelation()}" oncomplete="PF('dlgrel').show()" />
                            <p:commandButton value="Abbrechen" action="#{childRefPersonRelationshipDetailController.doCancel()}" onclick="PF('referenceEditDialog').hide()" immediate="true" />
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:dialog widgetVar="dlg" modal="true" resizable="false" header="#{referencePersonDetailController.successHeader}" showEffect="fade" closable="false"> 
                    <p:outputPanel id="dlgcontent">
                        <p:outputPanel>
                            <h:outputText value="#{referencePersonDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:referencePersonTable" onclick="PF('referencePersonEditDialog').hide()" oncomplete="PF('dlg').hide()" rendered="#{referencePersonDetailController.success}" />
                            <p:commandButton value="OK" update="userData" oncomplete="PF('dlg').hide()" rendered="#{not referencePersonDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

                <p:dialog widgetVar="dlgrel" modal="true" resizable="false" header="#{childRefPersonRelationshipDetailController.successHeader}" showEffect="fade" closable="false"> 
                    <p:outputPanel id="dlgcontentrel">
                        <p:outputPanel>
                            <h:outputText value="#{childRefPersonRelationshipDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:referenceTable" onclick="PF('referenceEditDialog').hide()" oncomplete="PF('dlgrel').hide()" rendered="#{childRefPersonRelationshipDetailController.success}" />
                            <p:commandButton value="OK" update="referenceData" oncomplete="PF('dlgrel').hide()" rendered="#{not childRefPersonRelationshipDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
