<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Anfragen">

                <p:dataTable id="dayExceptionTable" widgetVar="$dayExceptionTable" var="dayException" value="#{dayExceptionListController.dayExceptionList}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="dayExceptionTable" fileName="dayExceptionss"/>
                            </p:commandButton>


                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$dayExceptionTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$dayExceptionTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Beschreibung" sortBy="#{dayException.description}" filterBy="#{dayException.description}" filterStyle="display:none">
                        <h:outputText value="#{dayException.description}"/>
                    </p:column>

                    <p:column headerText="Kind" sortBy="#{dayException.child}" filterBy="#{dayException.child}" filterStyle="display:none">
                        <h:outputText value="#{dayException.child}"/>
                    </p:column>

                    <p:column headerText="Bestätigt" sortBy="#{dayException.confirmed}" filterBy="#{dayException.confirmed}" filterStyle="display:none">
                        <p:outputPanel layout="inline" styleClass="ui-icon ui-icon-check" rendered="#{dayException.confirmed}" />
                        <p:outputPanel layout="inline" styleClass="ui-icon ui-icon-closethick" rendered="#{not dayException.confirmed}" />
                    </p:column>

                    <p:column headerText="Datum" sortBy="#{dayException.date}" filterBy="#{dayException.date}" filterStyle="display:none">
                        <h:outputText value="#{dayException.date}">
                            <f:convertDateTime locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>

                    <p:column style="width:100px;text-align: center" exportable="false">

                        <p:commandButton rendered="#{not dayException.confirmed}" action="#{dayExceptionDetailController.doConfirm()}" oncomplete="#{dayExceptionListController.doReloadDayExceptionList()}" update=":userForm:dayExceptionTable" icon="ui-icon-check" title="Abschließen">
                            <f:setPropertyActionListener value="#{dayException}" target="#{dayExceptionDetailController.dayException}" />
                            <p:confirm header="Abschließen bestätigen" message="Sind Sie wirklich sicher, dass die Anfrage bestätigt werden soll?"  icon="ui-icon-alert" />
                        </p:commandButton>

                        <p:commandButton action="#{dayExceptionDetailController.doDecline(sessionViewController.person)}" oncomplete="#{dayExceptionListController.doReloadDayExceptionList()}" update=":userForm:dayExceptionTable" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{dayException}" target="#{dayExceptionDetailController.dayException}" />
                            <p:confirm header="Löschen bestätigen" message="Sind Sie wirklich sicher, dass die Anfrage gelöscht werden soll? Es wird eine Benachrichtigung an #{dayException.createdBy} geschickt."  icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" oncomplete="#{dayExceptionListController.doReloadDayExceptionList()}">
                        <p:ajax listener="#{dayExceptionListController.doReloadDayExceptionList()}" update=":userForm:dayExceptionTable" />
                    </p:commandButton>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:dayExceptionTable" />

                </p:confirmDialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>