<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="manage_config">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel header="Kinderkrippe konfigurieren" >

                <p:scrollPanel id="config" mode="native" style="max-height:500px; margin-bottom:10px">

                    <h:panelGrid id="layout" columns="4">
                        <p:outputLabel for="name" value="Name der Kinderkrippe:"/>
                        <p:inputText id="name" value="#{configurationController.config.name}" required="true">
                            <f:validateLength minimum="2" />
                        </p:inputText>
                        <p:message for="name" display="icon" />
                        <p:outputLabel value=""/>

                        <p:outputLabel for="logo" value="Logo:"/>
                        <p:fileUpload id="logo" fileUploadListener="#{fileUploadController.doUpload}" auto="true" fileLimit="1" mode="advanced" dragDropSupport="false" 
                                      update="uploaddone" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                        <p:commandButton id="uploaddone" value="Übernehmen" update="config" action="#{configurationController.config.setLogoUrl(fileUploadController.uploadpath)}" disabled="#{!fileUploadController.uploadDone}"/>
                        <p:message for="logo" display="icon" />

                        <p:outputLabel for="theme" value="Layout:"/>
                        <p:selectOneMenu id="theme" value="#{configurationController.config.theme}" filter="true" filterMatchMode="contains" required="true">
                            <f:selectItems value="#{configurationController.themes}" var="theme" />
                        </p:selectOneMenu>        
                        <p:message for="theme" id="msgTheme" display="icon" />
                        <p:outputLabel value=""/>

                        <p:outputLabel value="Öffnungszeiten:"/>
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>

                        <p:outputLabel for="monday" value="#{configurationController.monday.day.toString()}:"/>
                        <p:selectBooleanCheckbox id="monday" value="#{configurationController.monday.open}">
                            <p:ajax update="mondayBringStart mondayBringEnd mondayGetStart mondayGetEnd mondayCapacity" />
                        </p:selectBooleanCheckbox>
                        <p:message for="monday" display="icon" />
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="mondayBringStart" value="Bringzeiten:" />
                        <p:calendar id="mondayBringStart" value="#{configurationController.monday.bringStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.monday.bringEnd.hours}" timeOnly="true" disabled="#{not configurationController.monday.open}">
                            <p:ajax update="mondayBringEnd" />
                        </p:calendar>
                        <p:calendar id="mondayBringEnd" value="#{configurationController.monday.bringEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.monday.bringStart.hours}" timeOnly="true" disabled="#{not configurationController.monday.open}">
                            <p:ajax update="mondayBringStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="mondayGetStart" value="Abholzeiten:" />
                        <p:calendar id="mondayGetStart" value="#{configurationController.monday.getStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.monday.getEnd.hours}" timeOnly="true" disabled="#{not configurationController.monday.open}">
                            <p:ajax update="mondayGetEnd" />
                        </p:calendar>
                        <p:calendar id="mondayGetEnd" value="#{configurationController.monday.getEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.monday.getStart.hours}" timeOnly="true" disabled="#{not configurationController.monday.open}">
                            <p:ajax update="mondayGetStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="mondayCapacity" value="max. Kinderanzahl:" />
                        <p:inputNumber minValue="0" decimalPlaces="0" id="mondayCapacity" value="#{configurationController.monday.childCapacity}" size="5" disabled="#{not configurationController.monday.open}" required="#{configurationController.monday.open}">
                            <f:validateRequired/>
                        </p:inputNumber>
                        <p:message for="mondayCapacity" display="icon" />

                        <p:outputLabel for="tuesday" value="#{configurationController.tuesday.day.toString()}:"/>
                        <p:selectBooleanCheckbox id="tuesday" value="#{configurationController.tuesday.open}">
                            <p:ajax update="tuesdayBringStart tuesdayBringEnd tuesdayGetStart tuesdayGetEnd tuesdayCapacity" />
                        </p:selectBooleanCheckbox>
                        <p:message for="tuesday" display="icon" />
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="tuesdayBringStart" value="Bringzeiten:" />
                        <p:calendar id="tuesdayBringStart" value="#{configurationController.tuesday.bringStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.tuesday.bringEnd.hours}" timeOnly="true" disabled="#{not configurationController.tuesday.open}">
                            <p:ajax update="tuesdayBringEnd" />
                        </p:calendar>
                        <p:calendar id="tuesdayBringEnd" value="#{configurationController.tuesday.bringEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.tuesday.bringStart.hours}" timeOnly="true" disabled="#{not configurationController.tuesday.open}">
                            <p:ajax update="tuesdayBringStart" />
                        </p:calendar>                        
                        <p:outputLabel value=""/>
                        <p:outputLabel for="tuesdayGetStart" value="Abholzeiten:" />
                        <p:calendar id="tuesdayGetStart" value="#{configurationController.tuesday.getStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.tuesday.getEnd.hours}" timeOnly="true" disabled="#{not configurationController.tuesday.open}">
                            <p:ajax update="tuesdayGetEnd" />
                        </p:calendar>
                        <p:calendar id="tuesdayGetEnd" value="#{configurationController.tuesday.getEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.tuesday.getStart.hours}" timeOnly="true" disabled="#{not configurationController.tuesday.open}">
                            <p:ajax update="tuesdayGetStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="tuesdayCapacity" value="max. Kinderanzahl:" />
                        <p:inputNumber minValue="0" decimalPlaces="0" id="tuesdayCapacity" value="#{configurationController.tuesday.childCapacity}" size="5" disabled="#{not configurationController.tuesday.open}" required="#{configurationController.tuesday.open}">
                            <f:validateRequired/>
                        </p:inputNumber>
                        <p:message for="tuesdayCapacity" display="icon" />

                        <p:outputLabel for="wednesday" value="#{configurationController.wednesday.day.toString()}:"/>
                        <p:selectBooleanCheckbox id="wednesday" value="#{configurationController.wednesday.open}">
                            <p:ajax update="wednesdayBringStart wednesdayBringEnd wednesdayGetStart wednesdayGetEnd wednesdayCapacity" />
                        </p:selectBooleanCheckbox>
                        <p:message for="wednesday" display="icon" />
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="wednesdayBringStart" value="Bringzeiten:" />
                        <p:calendar id="wednesdayBringStart" value="#{configurationController.wednesday.bringStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.wednesday.bringEnd.hours}" timeOnly="true" disabled="#{not configurationController.wednesday.open}">
                            <p:ajax update="wednesdayBringEnd" />
                        </p:calendar>
                        <p:calendar id="wednesdayBringEnd" value="#{configurationController.wednesday.bringEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.wednesday.bringStart.hours}" timeOnly="true" disabled="#{not configurationController.wednesday.open}">
                            <p:ajax update="wednesdayBringStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="wednesdayGetStart" value="Abholzeiten:" />
                        <p:calendar id="wednesdayGetStart" value="#{configurationController.wednesday.getStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.wednesday.getEnd.hours}"  timeOnly="true" disabled="#{not configurationController.wednesday.open}">
                            <p:ajax update="wednesdayGetEnd" />
                        </p:calendar>
                        <p:calendar id="wednesdayGetEnd" value="#{configurationController.wednesday.getEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.wednesday.getStart.hours}"  timeOnly="true" disabled="#{not configurationController.wednesday.open}">
                            <p:ajax update="wednesdayGetStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="wednesdayCapacity" value="max. Kinderanzahl:" />
                        <p:inputNumber minValue="0" decimalPlaces="0" id="wednesdayCapacity" value="#{configurationController.wednesday.childCapacity}" size="5" disabled="#{not configurationController.wednesday.open}" required="#{configurationController.wednesday.open}">
                            <f:validateRequired/>
                        </p:inputNumber>
                        <p:message for="wednesdayCapacity" display="icon" />

                        <p:outputLabel for="thursday" value="#{configurationController.thursday.day.toString()}:"/>
                        <p:selectBooleanCheckbox id="thursday" value="#{configurationController.thursday.open}">
                            <p:ajax update="thursdayBringStart thursdayBringEnd thursdayGetStart thursdayGetEnd thursdayCapacity" />
                        </p:selectBooleanCheckbox>
                        <p:message for="thursday" display="icon" />
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="thursdayBringStart" value="Bringzeiten:" />
                        <p:calendar id="thursdayBringStart" value="#{configurationController.thursday.bringStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.thursday.bringEnd.hours}" timeOnly="true" disabled="#{not configurationController.thursday.open}">
                            <p:ajax update="thursdayBringEnd" />
                        </p:calendar>
                        <p:calendar id="thursdayBringEnd" value="#{configurationController.thursday.bringEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.thursday.bringStart.hours}" timeOnly="true" disabled="#{not configurationController.thursday.open}">
                            <p:ajax update="thursdayBringStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="thursdayGetStart" value="Abholzeiten:" />
                        <p:calendar id="thursdayGetStart" value="#{configurationController.thursday.getStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.thursday.getEnd.hours}" timeOnly="true" disabled="#{not configurationController.thursday.open}">
                            <p:ajax update="thursdayGetEnd" />
                        </p:calendar>
                        <p:calendar id="thursdayGetEnd" value="#{configurationController.thursday.getEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.thursday.getStart.hours}" timeOnly="true" disabled="#{not configurationController.thursday.open}">
                            <p:ajax update="thursdayGetStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="thursdayCapacity" value="max. Kinderanzahl:" />
                        <p:inputNumber minValue="0" decimalPlaces="0" id="thursdayCapacity" value="#{configurationController.thursday.childCapacity}" size="5" disabled="#{not configurationController.thursday.open}" required="#{configurationController.thursday.open}">
                            <f:validateRequired/>
                        </p:inputNumber>
                        <p:message for="thursdayCapacity" display="icon" />

                        <p:outputLabel for="friday" value="#{configurationController.friday.day.toString()}:"/>
                        <p:selectBooleanCheckbox id="friday" value="#{configurationController.friday.open}">
                            <p:ajax update="fridayBringStart fridayBringEnd fridayGetStart fridayGetEnd fridayCapacity" />
                        </p:selectBooleanCheckbox>
                        <p:message for="friday" display="icon" />
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="fridayBringStart" value="Bringzeiten:" />
                        <p:calendar id="fridayBringStart" value="#{configurationController.friday.bringStart}" pattern="HH:mm" timeOnly="true" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.friday.bringEnd.hours}" disabled="#{not configurationController.friday.open}">
                            <p:ajax update="fridayBringEnd" />
                        </p:calendar>
                        <p:calendar id="fridayBringEnd" value="#{configurationController.friday.bringEnd}" pattern="HH:mm" timeOnly="true" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.friday.bringStart.hours}" disabled="#{not configurationController.friday.open}">
                            <p:ajax update="fridayBringStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="fridayGetStart" value="Abholzeiten:" />
                        <p:calendar id="fridayGetStart" value="#{configurationController.friday.getStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.friday.getEnd.hours}" timeOnly="true" disabled="#{not configurationController.friday.open}">
                            <p:ajax update="fridayGetEnd" />
                        </p:calendar>
                        <p:calendar id="fridayGetEnd" value="#{configurationController.friday.getEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.friday.getStart.hours}" timeOnly="true" disabled="#{not configurationController.friday.open}">
                            <p:ajax update="fridayGetStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="fridayCapacity" value="max. Kinderanzahl:" />
                        <p:inputNumber minValue="0" decimalPlaces="0" id="fridayCapacity" value="#{configurationController.friday.childCapacity}" size="5" disabled="#{not configurationController.friday.open}" required="#{configurationController.friday.open}">
                            <f:validateRequired/>
                        </p:inputNumber>
                        <p:message for="fridayCapacity" display="icon" />

                        <p:outputLabel for="saturday" value="#{configurationController.saturday.day.toString()}:"/>
                        <p:selectBooleanCheckbox id="saturday" value="#{configurationController.saturday.open}">
                            <p:ajax update="saturdayBringStart saturdayBringEnd saturdayGetStart saturdayGetEnd saturdayCapacity" />
                        </p:selectBooleanCheckbox>
                        <p:message for="saturday" display="icon" />
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="saturdayBringStart" value="Bringzeiten:" />
                        <p:calendar id="saturdayBringStart" value="#{configurationController.saturday.bringStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.saturday.bringEnd.hours}" timeOnly="true" disabled="#{not configurationController.saturday.open}">
                            <p:ajax update="saturdayBringEnd" />
                        </p:calendar>
                        <p:calendar id="saturdayBringEnd" value="#{configurationController.saturday.bringEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.saturday.bringStart.hours}" timeOnly="true" disabled="#{not configurationController.saturday.open}">
                            <p:ajax update="saturdayBringStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="saturdayGetStart" value="Abholzeiten:" />
                        <p:calendar id="saturdayGetStart" value="#{configurationController.saturday.getStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.saturday.getEnd.hours}" timeOnly="true" disabled="#{not configurationController.saturday.open}">
                            <p:ajax update="saturdayGetEnd" />
                        </p:calendar>
                        <p:calendar id="saturdayGetEnd" value="#{configurationController.saturday.getEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.saturday.getStart.hours}" timeOnly="true" disabled="#{not configurationController.saturday.open}">
                            <p:ajax update="saturdayGetStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="saturdayCapacity" value="max. Kinderanzahl:" />
                        <p:inputNumber minValue="0" decimalPlaces="0" id="saturdayCapacity" value="#{configurationController.saturday.childCapacity}" size="5" disabled="#{not configurationController.saturday.open}" required="#{configurationController.saturday.open}">
                            <f:validateRequired/>
                        </p:inputNumber>
                        <p:message for="saturdayCapacity" display="icon" />

                        <p:outputLabel for="sunday" value="#{configurationController.sunday.day.toString()}:"/>
                        <p:selectBooleanCheckbox id="sunday" value="#{configurationController.sunday.open}">
                            <p:ajax update="sundayBringStart sundayBringEnd sundayGetStart sundayGetEnd sundayCapacity" />
                        </p:selectBooleanCheckbox>
                        <p:message for="sunday" display="icon" />
                        <p:outputLabel value=""/>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="sundayBringStart" value="Bringzeiten:" />
                        <p:calendar id="sundayBringStart" value="#{configurationController.sunday.bringStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.sunday.bringEnd.hours}" timeOnly="true" disabled="#{not configurationController.sunday.open}">
                            <p:ajax update="sundayBringEnd" />
                        </p:calendar>
                        <p:calendar id="sundayBringEnd" value="#{configurationController.sunday.bringEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.sunday.bringStart.hours}" timeOnly="true" disabled="#{not configurationController.sunday.open}">
                            <p:ajax update="sundayBringStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="sundayGetStart" value="Abholzeiten:" />
                        <p:calendar id="sundayGetStart" value="#{configurationController.sunday.getStart}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" maxHour="#{configurationController.sunday.getEnd.hours}" timeOnly="true" disabled="#{not configurationController.sunday.open}">
                            <p:ajax update="sundayGetEnd" />
                        </p:calendar>
                        <p:calendar id="sundayGetEnd" value="#{configurationController.sunday.getEnd}" pattern="HH:mm" locale="de" stepMinute="5" size="5" readonlyInput="true" minHour="#{configurationController.sunday.getStart.hours}" timeOnly="true" disabled="#{not configurationController.sunday.open}">
                            <p:ajax update="sundayGetStart" />
                        </p:calendar>
                        <p:outputLabel value=""/>
                        <p:outputLabel for="sundayCapacity" value="max. Kinderanzahl:" />
                        <p:inputNumber minValue="0" decimalPlaces="0" id="sundayCapacity" value="#{configurationController.sunday.childCapacity}" size="5" disabled="#{not configurationController.sunday.open}" required="#{configurationController.sunday.open}">
                            <f:validateRequired/>
                        </p:inputNumber>
                        <p:message for="sundayCapacity" display="icon" />
                    </h:panelGrid>
                </p:scrollPanel>  
                <p:outputPanel>  
                    <p:commandButton value="Speichern" update="manage_config" action="#{configurationController.doSaveConfiguration()}" oncomplete="self.location.reload()" />  
                </p:outputPanel>  

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>