<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Feiertage">

                <p:dataTable id="holidayTable" widgetVar="$holidayTable" var="holiday" value="#{holidayListController.holidayList}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Feiertage" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="holidayTable" fileName="Feiertage"/>
                            </p:commandButton>


                            <p:commandButton action="#{holidayDetailController.setNewHoliday()}" update=":userForm:holidayEditDialog" oncomplete="PF('holidayEditDialog').show()" icon="ui-icon-plus" title="Anlegen">
                            </p:commandButton>

                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$holidayTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$holidayTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Feiertag" sortBy="#{holiday.description}" filterBy="#{holiday.description}" filterStyle="display:none">
                        <h:outputText value="#{holiday.description}"/>
                    </p:column>

                    <p:column headerText="Datum" sortBy="#{holiday.date}" filterBy="#{holiday.date}" filterStyle="display:none">
                        <h:outputText value="#{holiday.date}">
                            <f:convertDateTime locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>

                    <p:column style="width:100px;text-align: center" exportable="false">

                        <p:commandButton update=":userForm:holidayEditDialog" oncomplete="PF('holidayEditDialog').show()" icon="ui-icon-pencil" title="Details">
                            <f:setPropertyActionListener value="#{holiday}" target="#{holidayDetailController.holiday}" />
                        </p:commandButton>

                        <p:commandButton action="#{holidayDetailController.doDeleteHoliday()}" oncomplete="#{holidayDetailController.doReloadHoliday()}" update=":userForm:holidayTable" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{holiday}" target="#{holidayDetailController.holiday}" />
                            <p:confirm header="Löschen bestätigen" message="Sind Sie wirklich sicher, dass der Feiertag gelöscht werden soll?"  icon="ui-icon-alert" />
                        </p:commandButton>

                    </p:column>

                </p:dataTable>
                <p:dialog header="Feiertag bearbeiten" id="holidayEditDialog" closable="false" widgetVar="holidayEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">

                    <p:outputPanel id="holidayData" rendered="#{not empty holidayDetailController.holiday}">
                        <h:panelGrid columns="3">

                            <p:outputLabel for="Date" value="Datum:"/>
                            <p:calendar id="Date" value="#{holidayDetailController.holiday.date}" required="true" showOn="button" locale="de" navigator="true" disabled="#{not holidayDetailController.holiday.isNew()}">
                                <f:validateRequired />
                            </p:calendar>
                            <p:message for="Date" id="msgdate" display="icon" />

                            <p:outputLabel for="description" value="Beschreibung:"/>
                            <p:inputText id="description" value="#{holidayDetailController.holiday.description}" required="true" >
                                <f:validateRequired />
                            </p:inputText>
                            <p:message for="description" id="msgdescription" display="icon" />

                        </h:panelGrid>        

                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:holidayTable dlgcontent holidayData" action="#{holidayDetailController.doSaveHoliday()}" oncomplete="PF('dlg').show()" />
                            <p:commandButton value="Abbrechen" action="#{holidayDetailController.doCancel()}" onclick="PF('holidayEditDialog').hide()" immediate="true"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:dialog widgetVar="dlg" modal="true" closable="false" resizable="false" showEffect="fade"> 
                    <p:outputPanel id="dlgcontent">
                        <p:outputPanel>
                            <h:outputText value="#{holidayDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:holidayTable" onclick="PF('holidayEditDialog').hide()" oncomplete="PF('dlg').hide()" rendered="#{holidayDetailController.success}" />
                            <p:commandButton value="OK" update="holidayData" oncomplete="PF('dlg').hide()" rendered="#{not holidayDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" oncomplete="#{holidayListController.doReloadHolidayList()}">
                        <p:ajax listener="#{holidayListController.doReloadHolidayList()}" update=":userForm:holidayTable" />
                    </p:commandButton>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:holidayTable" />
                </p:confirmDialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>