<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Erziehungsberechtigte">

                #{parentListController.setFilter(1)}

                <p:dataTable id="usersTable" widgetVar="$usersTable" var="parent" value="#{parentListController.personList}" filteredValue="#{parentListController.filteredPersons}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="usersTable" fileName="parents"/>
                            </p:commandButton>


                            <p:commandButton action="#{parentDetailController.setNewPerson()}" update=":userForm:parentEditDialog" oncomplete="PF('parentEditDialog').show()" icon="ui-icon-plus" title="Anlegen">
                            </p:commandButton>

                        </p:outputPanel>

                        <p:selectOneMenu value="#{parentListController.filter}">
                            <f:selectItems value="#{parentListController.filters}" />
                            <p:ajax listener="#{parentListController.doReloadPersonList}" update=":userForm:usersTable" />
                        </p:selectOneMenu>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$usersTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$usersTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                    </f:facet>

                    <p:column headerText="Benutzername" sortBy="#{parent.user.username}" filterBy="#{parent.user.username}" filterStyle="display:none">
                        <h:outputText value="#{parent.user.username}"/>
                    </p:column>
                    <p:column headerText="Name" sortBy="#{parent}" filterBy="#{parent}" filterStyle="display:none">
                        <h:outputText value="#{parent}"/>
                    </p:column>
                    <p:column headerText="Telefon" filterBy="#{parent.phonePrivate}" filterStyle="display:none">
                        <h:outputText value="#{parent.phonePrivate}" /><br />
                        <h:outputText value="#{parent.phoneBusiness}" />
                    </p:column>
                    <p:column headerText="E-Mail" filterBy="#{parent.email}" filterStyle="display:none">
                        <h:outputText value="#{parent.email}" />
                    </p:column>

                    <p:column headerText="Kinder">
                        <ui:repeat value="#{parent.children}" var="child">
                            <h:outputText value="#{child}"/><h:outputText value="&lt;br/&gt;" escape="false" />
                        </ui:repeat>
                    </p:column>


                    <p:column style="width:150px;text-align: center" exportable="false">
                        <p:commandButton update=":userForm:parentEditDialog" oncomplete="PF('parentEditDialog').show()" icon="ui-icon-pencil" title="Bearbeiten">
                            <f:setPropertyActionListener value="#{parent}" target="#{parentDetailController.person}" />
                        </p:commandButton>
                        <p:commandButton update=":userForm:parentEditPWDialog" oncomplete="PF('parentEditPWDialog').show()" icon="ui-icon-locked" title="Passwort ändern">
                            <f:setPropertyActionListener value="#{parent}" target="#{parentDetailController.person2}" />
                        </p:commandButton>
                        <p:commandButton action="#{parentDetailController.doDeletePerson()}" oncomplete="#{parentListController.doReloadPersonList()}" update="userForm" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{parent}" target="#{parentDetailController.person}" />
                            <p:confirm header="Löschen bestätigen" message="Sind Sie wirklich sicher, dass dieser Benutzer gelöscht werden soll? Bei Erziehungsberechtigten werden erstellte Bezugspersonen mitgelöscht." icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>

                <p:dialog header="Erziehungsberechtigte bearbeiten" id="parentEditDialog" widgetVar="parentEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">

                    <p:outputPanel id="userData" rendered="#{not empty parentDetailController.person}">
                        <p:graphicImage value="#{parentDetailController.person.photo}" width="200" style="float:right" />
                        <h:panelGrid columns="3">

                            <p:outputLabel for="firstname" value="Vorname:"/>
                            <p:inputText id="firstname" value="#{parentDetailController.person.firstName}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgFirstname" event="blur" />
                            </p:inputText>
                            <p:message for="firstname" id="msgFirstname" display="icon" />

                            <p:outputLabel for="lastname" value="Nachname:"/>
                            <p:inputText id="lastname" value="#{parentDetailController.person.lastName}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgLastname" event="blur" />
                            </p:inputText>
                            <p:message for="lastname" id="msgLastname" display="icon" />

                            <p:outputLabel for="username" value="Benutzername:"/>
                            <p:inputText id="username" value="#{parentDetailController.person.user.username}" disabled="#{not parentDetailController.isNew}" required="true">
                                <f:validateLength minimum="3" />
                                <p:ajax event="blur" listener="#{parentDetailController.checkDuplicateUsername}" update="msgUsername" />
                            </p:inputText>
                            <p:message for="username" id="msgUsername" display="icon" />

                            <p:outputLabel for="email" value="E-Mail:"/>
                            <p:inputText id="email" value="#{parentDetailController.person.email}" required="true">
                                <f:validateLength minimum="5" />
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                <p:ajax update="msgEmail" event="blur" />
                            </p:inputText>
                            <p:message for="email" id="msgEmail" display="icon" />

                            <p:outputLabel for="phone" value="Telefon:"/>
                            <p:inputMask id="phone" value="#{parentDetailController.person.phonePrivate}" mask="+(99) 9999?999999999" required="true">
                                <f:validateRequired />
                                <p:ajax update="msgPhone" event="blur" />
                            </p:inputMask>
                            <p:message for="phone" id="msgPhone" display="icon" />

                            <p:outputLabel for="businessphone" value="Telefon (geschäftlich):"/>
                            <p:inputMask id="businessphone" value="#{parentDetailController.person.phoneBusiness}" mask="+(99) 9999?999999999" required="false" />
                            <p:message for="businessphone" display="icon" />

                            <p:outputLabel for="street" value="Straße:"/>
                            <p:inputText id="street" value="#{parentDetailController.person.street}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgStreet" event="blur" />
                            </p:inputText>
                            <p:message for="street" id="msgStreet" display="icon" />

                            <p:outputLabel for="zip" value="PLZ:"/>
                            <p:inputText id="zip" value="#{parentDetailController.person.zipcode}" required="true">
                                <f:validateLength minimum="4" />
                                <p:ajax update="msgZip" event="blur" />
                            </p:inputText>
                            <p:message for="zip" id="msgZip" display="icon" />

                            <p:outputLabel for="city" value="Ort:"/>
                            <p:inputText id="city" value="#{parentDetailController.person.city}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgCity" event="blur" />
                            </p:inputText>
                            <p:message for="city" id="msgCity" display="icon" />

                            <p:outputLabel for="gender" value="Geschlecht:"/>
                            <p:selectOneRadio id="gender" value="#{parentDetailController.person.gender}" required="true">
                                <f:selectItems value="#{parentService.getAllGenders()}" var="g" itemLabel="#{gender}" itemValue="#{gender}" />
                                <f:validateRequired />
                                <f:converter converterId="genericconv" />
                                <p:ajax update="msgGender" event="blur" />
                            </p:selectOneRadio>
                            <p:message for="gender" id="msgGender" display="icon" />

                            <p:outputLabel for="birthday" value="Geburtstag:"/>
                            <p:calendar id="birthday" value="#{parentDetailController.person.birthday}" readonlyInput="true" yearRange="c-10:c" required="false" showOn="button" locale="de" navigator="true" />
                            <p:message for="birthday" display="icon" />

                            <p:outputLabel for="photo" value="Foto:"/>
                            <p:fileUpload id="photo" fileUploadListener="#{fileUploadController.doUpload}" auto="true" fileLimit="1" mode="advanced" dragDropSupport="false" 
                                          update="uploaddone" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                            <p:commandButton id="uploaddone" value="Übernehmen" update=":userForm:userData" action="#{parentDetailController.person.setPhoto(fileUploadController.uploadpath)}" disabled="#{!fileUploadController.uploadDone}"/>

                        </h:panelGrid>        
                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:usersTable dlgcontent" action="#{parentDetailController.doSavePerson()}" oncomplete="PF('dlg').show()" />
                            <p:commandButton value="Abbrechen" action="#{parentDetailController.doCancel()}" onclick="PF('parentEditDialog').hide()" immediate="true" />
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:dialog header="Passwort ändern" id="parentEditPWDialog" widgetVar="parentEditPWDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">
                    <p:outputPanel id="PWData" rendered="#{not empty parentDetailController.person2}">
                        <h:panelGrid columns="3" id="matchGrid" cellpadding="5">                   
                            <h:outputLabel for="pwd1" value="Password: *" />
                            <p:password id="pwd1" value="#{parentDetailController.person2.user.password}" match="pwd2" label="Password 1" required="true" />
                            <p:message id="msgpwd1" for="pwd1" display="icon" />

                            <h:outputLabel for="pwd2" value="Password wiederholen: *" />
                            <p:password id="pwd2" value="#{parentDetailController.person2.user.password}" label="Password 2" required="true" />
                            <p:message id="msgpwd2" for="pwd2" display="icon" />
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:usersTable dlg" action="#{parentDetailController.doSavePerson2()}" oncomplete="PF('dlg').show()" />
                            <p:commandButton value="Abbrechen" action="#{parentDetailController.doCancel()}" onclick="PF('staffEditPWDialog').hide()" immediate="true"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" oncomplete="#{parentListController.doReloadPersonList()}">
                        <p:ajax listener="#{parentListController.doReloadPersonList}" update=":userForm:usersTable" />
                    </p:commandButton>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:usersTable" />

                </p:confirmDialog>

                <p:dialog id="dlg" widgetVar="dlg" modal="true" resizable="false" header="#{parentDetailController.successHeader}" showEffect="fade" closable="false"> 
                    <p:outputPanel id="dlgcontent">
                        <p:outputPanel>
                            <h:outputText value="#{parentDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:usersTable :userForm:parentEditPWDialog" onclick="PF('parentEditDialog').hide() PF('parentEditPWDialog').hide()" oncomplete="PF('dlg').hide()" rendered="#{parentDetailController.success}" />
                            <p:commandButton value="OK" update="PWData userData" oncomplete="PF('dlg').hide()" rendered="#{not parentDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>