<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Personal">

                <p:dataTable id="usersTable" widgetVar="$usersTable" var="staff" value="#{staffListController.personList}" filteredValue="#{staffListController.filteredPersons}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="usersTable" fileName="Personal"/>
                            </p:commandButton>

                            <p:commandButton action="#{staffDetailController.setNewPerson()}" update=":userForm:staffEditDialog" oncomplete="PF('staffEditDialog').show()" icon="ui-icon-plus" title="Anlegen">
                            </p:commandButton>

                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$usersTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$usersTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Benutzername" sortBy="#{staff.user.username}" filterBy="#{staff.user.username}" filterStyle="display:none" sortFunction="#{staffListController.sortAlphabetically}">
                        <h:outputText value="#{staff.user.username}"/>
                    </p:column>
                    <p:column headerText="Name" sortBy="#{staff}" filterBy="#{staff}" filterStyle="display:none" sortFunction="#{staffListController.sortByName}">
                        <h:outputText value="#{staff}"/>
                    </p:column>
                    <p:column headerText="Telefon" filterBy="#{staff.phonePrivate}" filterStyle="display:none">
                        <h:outputText value="#{staff.phonePrivate}" /><br />
                        <h:outputText value="#{staff.phoneBusiness}" />
                    </p:column>
                    <p:column headerText="E-Mail" filterBy="#{staff.email}" filterStyle="display:none">
                        <h:outputText value="#{staff.email}" />
                    </p:column>

                    <p:column style="width:150px;text-align: center" exportable="false">
                        <p:commandButton update=":userForm:staffEditDialog" oncomplete="PF('staffEditDialog').show()" icon="ui-icon-pencil" title="Bearbeiten">
                            <f:setPropertyActionListener value="#{staff}" target="#{staffDetailController.person}" />
                        </p:commandButton>
                        <p:commandButton update=":userForm:staffEditPWDialog" oncomplete="PF('staffEditPWDialog').show()" icon="ui-icon-locked" title="Passwort ändern">
                            <f:setPropertyActionListener value="#{staff}" target="#{staffDetailController.person2}" />
                        </p:commandButton>
                        <p:commandButton action="#{staffDetailController.doDeletePerson()}" onsuccess="#{staffListController.doReloadPersonList()}" update="userForm" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{staff}" target="#{staffDetailController.person}" />
                            <p:confirm header="Löschen bestätigen" message="Sind Sie wirklich sicher, dass dieser Benutzer gelöscht werden soll?" icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>

                <p:dialog header="Personal bearbeiten" id="staffEditDialog" widgetVar="staffEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">

                    <p:outputPanel id="userData" rendered="#{not empty staffDetailController.person}">
                        <p:graphicImage value="#{staffDetailController.person.photo}" width="200" style="float:right" />
                        <h:panelGrid columns="3">

                            <p:outputLabel for="firstname" value="Vorname:"/>
                            <p:inputText id="firstname" value="#{staffDetailController.person.firstName}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgFirstname" event="blur" />
                            </p:inputText>
                            <p:message for="firstname" id="msgFirstname" display="icon" />

                            <p:outputLabel for="lastname" value="Nachname:"/>
                            <p:inputText id="lastname" value="#{staffDetailController.person.lastName}" required="true">
                                <f:validateLength minimum="2" />
                                <p:ajax update="msgLastname" event="blur" />
                            </p:inputText>
                            <p:message for="lastname" id="msgLastname" display="icon" />

                            <p:outputLabel for="username" value="Benutzername:"/>
                            <p:inputText id="username" value="#{staffDetailController.person.user.username}" disabled="#{not staffDetailController.isNew}" required="true">
                                <f:validateLength minimum="3" />
                                <p:ajax update="msgUsername" event="blur" />
                            </p:inputText>
                            <p:message for="username" id="msgUsername" display="icon" />

                            <p:outputLabel for="email" value="E-Mail:"/>
                            <p:inputText id="email" value="#{staffDetailController.person.email}" required="true">
                                <f:validateLength minimum="5" />
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                <p:ajax update="msgEmail" event="blur" />
                            </p:inputText>
                            <p:message for="email" id="msgEmail" display="icon" />

                            <p:outputLabel for="phone" value="Telefon:"/>
                            <p:inputMask id="phone" value="#{staffDetailController.person.phonePrivate}" mask="+(99) 9999?999999999" required="false" />
                            <p:message for="phone" id="msgPhone" display="icon" />

                            <p:outputLabel for="businessphone" value="Telefon (geschäftlich):"/>
                            <p:inputMask id="businessphone" value="#{staffDetailController.person.phoneBusiness}" mask="+(99) 9999?999999999" required="false" />
                            <p:message for="businessphone" id="msgBusinessphone" display="icon" />

                            <p:outputLabel for="street" value="Straße:"/>
                            <p:inputText id="street" value="#{staffDetailController.person.street}" required="false" />
                            <p:message for="street" id="msgStreet" display="icon" />

                            <p:outputLabel for="zip" value="PLZ:"/>
                            <p:inputText id="zip" value="#{staffDetailController.person.zipcode}" required="false" />
                            <p:message for="zip" display="icon" />

                            <p:outputLabel for="city" value="Ort:"/>
                            <p:inputText id="city" value="#{staffDetailController.person.city}" required="false" />
                            <p:message for="city" display="icon" />

                            <p:outputLabel for="gender" value="Geschlecht:"/>
                            <p:selectOneRadio id="gender" value="#{staffDetailController.person.gender}" required="true">
                                <f:selectItems value="#{staffService.getAllGenders()}" var="g" itemLabel="#{gender}" itemValue="#{gender}" />
                                <f:validateRequired />
                                <f:converter converterId="genericconv" />
                                <p:ajax update="msgGender" event="blur" />
                            </p:selectOneRadio>
                            <p:message for="gender" id="msgGender" display="icon" />

                            <p:outputLabel for="birthday" value="Geburtstag:"/>
                            <p:calendar id="birthday" value="#{staffDetailController.person.birthday}" required="false" readonlyInput="true" yearRange="c-10:c" showOn="button" locale="de" navigator="true" />
                            <p:message for="birthday" display="icon" />

                            <p:outputLabel for="photo" value="Foto:"/>
                            <p:fileUpload id="photo" fileUploadListener="#{fileUploadController.doUpload}" auto="true" fileLimit="1" mode="advanced" dragDropSupport="false" 
                                          update="uploaddone" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                            <p:commandButton id="uploaddone" value="Übernehmen" update=":userForm:userData" action="#{staffDetailController.person.setPhoto(fileUploadController.uploadpath)}" disabled="#{!fileUploadController.uploadDone}"/>

                        </h:panelGrid>        
                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:usersTable dlgcontent" action="#{staffDetailController.doSavePerson()}" oncomplete="PF('dlg').show()" />
                            <p:commandButton value="Abbrechen" action="#{staffDetailController.doCancel()}" onclick="PF('staffEditDialog').hide()" immediate="true"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:dialog header="Passwort ändern" id="staffEditPWDialog" widgetVar="staffEditPWDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">
                    <p:outputPanel id="PWData" rendered="#{not empty staffDetailController.person2}">
                        <h:panelGrid columns="3" id="matchGrid" cellpadding="5">                   
                            <h:outputLabel for="pwd1" value="Password: *" />
                            <p:password id="pwd1" value="#{staffDetailController.person2.user.password}" match="pwd2" label="Password 1" required="true" />
                            <p:message id="msgpwd1" for="pwd1" display="icon" />

                            <h:outputLabel for="pwd2" value="Password wiederholen: *" />
                            <p:password id="pwd2" value="#{staffDetailController.person2.user.password}" label="Password 2" required="true" />
                            <p:message id="msgpwd2" for="pwd2" display="icon" />
                        </h:panelGrid>
                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:usersTable dlg" action="#{staffDetailController.doSavePerson2()}" oncomplete="PF('dlg').show()" />
                            <p:commandButton value="Abbrechen" action="#{staffDetailController.doCancel()}" onclick="PF('staffEditPWDialog').hide()" immediate="true"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" oncomplete="#{staffListController.doReloadPersonList()}">
                        <p:ajax listener="#{staffListController.doReloadPersonList}" update=":userForm:usersTable" />
                    </p:commandButton>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:usersTable" />
                </p:confirmDialog>

                <p:dialog id="dlg" widgetVar="dlg" modal="true" resizable="false" header="#{staffDetailController.successHeader}" showEffect="fade" closable="false"> 
                    <p:outputPanel id="dlgcontent" >
                        <p:outputPanel>
                            <h:outputText value="#{staffDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:usersTable" onclick="PF('staffEditDialog').hide() PF('staffEditPWDialog').hide()" oncomplete="PF('dlg').hide()" rendered="#{staffDetailController.success}" />
                            <p:commandButton value="OK" update="PWData userData" oncomplete="PF('dlg').hide()" rendered="#{not staffDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>