<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="dailyForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>

            <p:panel>
                <h:outputLabel for="dayChooser" value="Ausgewählter Tag: "/>
                <p:calendar id="dayChooser" value="#{dailyPlannerController.enteredDate}" locale="de" style="center">
                    <p:ajax event="dateSelect" listener="#{dailyPlannerController.reloadAll()}" 
                            update="childrenpage,:dailyForm:exceptionTable,:dailyForm:birthdayTable"/>
                </p:calendar>
            </p:panel>

            <p:panel id="birthdaypage" header="Geburtstage">
                <p:dataTable id="birthdayTable" var="child" value="#{dailyPlannerController.dayRelevantBirthdays}"
                             emptyMessage="Keine Geburtstage">

                    <p:column headerText="Name">
                        <h:outputText value="#{child}"/>
                    </p:column>

                    <p:column headerText="Alter">
                        <h:outputText value="#{child.getAge(dailyPlannerController.enteredDate)}"/>
                    </p:column>

                </p:dataTable>
            </p:panel>
            <h:outputText value="&lt;br/&gt;" escape="false" />
            <p:panel id="exceptionpage" header="Tagesausnahmen">
                <p:dataTable id="exceptionTable" widgetVar="$exceptionTable" var="exc" value="#{dailyPlannerController.dayRelevantExceptions}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Besonderheiten" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="exceptionTable" fileName="Ausnahmen"/>
                            </p:commandButton>


                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$exceptionTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$exceptionTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />
                    </f:facet>

                    <p:column headerText="Kind" sortBy="#{exc.child}" filterBy="#{exc.child}" filterStyle="display:none">
                        <h:outputText value="#{exc.child}"/>
                    </p:column>

                    <p:column headerText="Beschreibung" sortBy="#{exc.description}" filterBy="#{exc.description}" filterStyle="display:none">
                        <h:outputText value="#{exc.description}"/>
                    </p:column>

                    <p:column headerText="Abwesend" sortBy="#{exc.absent}" filterBy="#{exc.absent}" filterStyle="display:none">
                        <p:outputPanel layout="inline" styleClass="ui-icon ui-icon-check" rendered="#{exc.absent}" />
                        <p:outputPanel layout="inline" styleClass="ui-icon ui-icon-closethick" rendered="#{not exc.absent}" />
                    </p:column>

                    <p:column headerText="Bringzeit" sortBy="#{exc.alternateBringTime}" filterBy="#{exc.alternateBringTime}" filterStyle="display:none">
                        <h:outputText value="#{exc.alternateBringTime}"/>
                    </p:column>

                    <p:column headerText="Abholzeit" sortBy="#{exc.alternateGetTime}" filterBy="#{exc.alternateGetTime}" filterStyle="display:none">
                        <h:outputText value="#{exc.alternateGetTime}"/>
                    </p:column>

                    <p:column headerText="Abholer" sortBy="#{exc.alternateGetter}" filterBy="#{exc.alternateGetter}" filterStyle="display:none">
                        <h:outputText value="#{exc.alternateGetter}"/>
                    </p:column>

                </p:dataTable>
            </p:panel>
            <h:outputText value="&lt;br/&gt;" escape="false" />

            <p:panel id="childrenpage" header="Anzahl Kinder: #{dailyPlannerController.dayRelevantChildren.size()} Kapazität: #{dailyPlannerController.getCapacity()}">
                <p:dataTable id="childrenTable" widgetVar="$childrenTable" var="child" value="#{dailyPlannerController.dayRelevantChildren}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Kinder für Tag angemeldet" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="childrenTable" fileName="Kinder"/>
                            </p:commandButton>

                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$childrenTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$childrenTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Foto" width="150" exportable="false">
                        <p:graphicImage value="#{child.photo}" width="150" style="float:left"/>
                    </p:column>

                    <p:column headerText="Vorname" sortBy="#{child.firstName}" filterBy="#{child.firstName}" filterStyle="display:none">
                        <h:outputText value="#{child.firstName}"/>
                    </p:column>

                    <p:column headerText="Nachname" sortBy="#{child.lastName}" filterBy="#{child.lastName}" filterStyle="display:none">
                        <h:outputText value="#{child.lastName}"/>
                    </p:column>

                    <p:column headerText="Allergien" sortBy="#{child.allergies}" filterBy="#{child.allergies}" filterStyle="display:none">
                        <h:outputText value="#{child.allergies}"/>
                    </p:column>

                    <p:column headerText="Notfallkontakt" sortBy="#{child.emergencyContact}" filterBy="#{child.emergencyContact}" filterStyle="display:none">
                        <h:outputText value="#{child.emergencyContact}"/>
                    </p:column>

                    <p:column headerText="Notfallkontakt TelNr." sortBy="#{child.emergencyContact.phonePrivate}" filterBy="#{child.emergencyContact.phonePrivate}" filterStyle="display:none">
                        <h:outputText value="#{child.emergencyContact.phonePrivate}"/>
                    </p:column>

                    <p:column headerText="Eltern" sortBy="#{child.getParentsAsString()}" filterBy="#{child.getParentsAsString()}" filterStyle="display:none">
                        <h:outputText value="#{child.getParentsAsString()}"/>
                    </p:column>

                </p:dataTable>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>