<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <p:timeline id="timeline" value="#{timeTablePlannerController.model}" 
                    editable="false" eventMargin="10" eventMarginAxis="0"
                    start="#{timeTablePlannerController.start}" 
                    end="#{timeTablePlannerController.end}" 
                    showNavigation="true" showButtonNew="false" 
                    axisOnTop="true" stackEvents="false" locale="de"/>  

        <style type="text/css">
            /* Custom styles for the Timeline */  
            div.timeline-frame {  
                border-color: #5D99C3;  
                border-radius: 5px;  
            }  

            div.timeline-axis {  
                border-color: #5D99C3;  
                background-color: #5D99C3;  
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0') alpha(opacity = 100);  
                background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0));  
                background: -moz-linear-gradient(top,  #5D99C3,  #3A6DA0);  
                -khtml-opacity: 1;  
                -moz-opacity: 1;  
                opacity: 1;  
            }  

            div.timeline-groups-axis {  
                border-color: #5D99C3;  
            }  

            div.timeline-groups-axis-onleft {  
                border-style: none solid none none;  
            }  

            div.timeline-axis-text {  
                color: white;  
            }  

            div.timeline-event {  
                color: white !important;  
                border-radius: 5px !important;  
            }  

            div.timeline-event-content {  
                padding: 5px;  
                text-shadow: none;  
            }  

            div.red {  
                background: #F03030 none !important;  /* red */  
                border-color: #bd2828 !important;     /* red */  
            }  

            div.green {  
                background: #1AA11A none !important;  /* green */  
                border-color: #136e13 !important;     /* green */  
            }  

            div.yellow {  
                background: #FFA500 none !important;  /* orange */  
                border-color: #cc8100 !important;     /* orange */  
            }  

            div.timeline-event-selected {  
                background: #BECEFE none !important;  
                border-color: #97B0F8 !important;  
            }  
        </style>
    </ui:define>
</ui:composition>