<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:form id="userForm">
            <p:defaultCommand target="dummy"/>
            <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
            <p:panel id="page" header="Übersicht Aufgaben">
                <p:dataTable id="taskTable" widgetVar="$taskTable" var="task" value="#{taskListController.taskList}"
                             paginatorTemplate="Einträge pro Seite: {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100,200" paginator="true" rows="10" emptyMessage="keine Daten gefunden" 
                             paginatorPosition="bottom" first="0" sortMode="multiple">

                    <f:facet name="header">

                        <p:outputPanel style="float:left">
                            <p:commandButton icon="ui-icon-arrowthickstop-1-s" ajax="false" title="PDF-Export">
                                <p:dataExporter type="pdf" target="taskTable" fileName="tasks"/>
                            </p:commandButton>

                            <p:commandButton action="#{taskDetailController.setNewTask()}" update=":userForm:taskEditDialog" oncomplete="PF('taskEditDialog').show()" icon="ui-icon-plus" title="Anlegen">
                            </p:commandButton>

                        </p:outputPanel>

                        <p:outputPanel style="float:right">
                            <h:inputText id="globalFilter" onkeyup="PF('$taskTable').filter()" />&nbsp;
                            <p:commandButton onclick="PF('$taskTable').clearFilters()" icon="ui-icon-close" title="Filter zurücksetzen" />
                        </p:outputPanel>

                        <h:outputText value="&lt;br/&gt;" escape="false" />
                        <h:outputText value="&lt;br/&gt;" escape="false" />

                    </f:facet>

                    <p:column headerText="Titel" sortBy="#{task.title}" filterBy="#{task.title}" filterStyle="display:none">
                        <h:outputText value="#{task.title}"/>
                    </p:column>

                    <p:column headerText="Beschreibung" sortBy="#{task.description}" filterBy="#{task.description}" filterStyle="display:none">
                        <h:outputText value="#{task.description}"/>
                    </p:column>

                    <p:column headerText="Zugewiesen" sortBy="#{task.assigned}" filterBy="#{task.assigned}" filterStyle="display:none">
                        <h:outputText value="#{task.assigned}"/>
                    </p:column>

                    <p:column headerText="Bisdatum" sortBy="#{task.toDate}" filterBy="#{task.toDate}" filterStyle="display:none">
                        <h:outputText value="#{task.toDate}">
                            <f:convertDateTime locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Erledigt" sortBy="#{task.done}" filterBy="#{task.done}" filterStyle="display:none">
                        <h:outputText value="#{task.done}">
                            <f:convertDateTime locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>

                    <p:column style="width:150px;text-align: center" exportable="false">
                        <p:commandButton action="#{taskDetailController.doCompleteTask()}" oncomplete="#{taskDetailsController.doReloadTaskList()}" update=":userForm" icon="ui-icon-check" title="Abschließen">
                            <f:setPropertyActionListener value="#{task}" target="#{taskDetailController.task}" />
                            <p:confirm header="bestätigen" message="Sind Sie wirklich sicher, dass die Aufgabe bestätigt werden soll?"  icon="ui-icon-alert" />
                        </p:commandButton>
                        <p:commandButton update=":userForm:taskEditDialog" oncomplete="PF('taskEditDialog').show()" icon="ui-icon-pencil" title="Bearbeiten">
                            <f:setPropertyActionListener value="#{task}" target="#{taskDetailController.task}" />
                        </p:commandButton>
                        <p:commandButton action="#{taskDetailController.doDeleteTask()}" oncomplete="#{taskDetailsController.doReloadTaskList()}" update=":userForm:taskTable" icon="ui-icon-trash" title="Löschen">
                            <f:setPropertyActionListener value="#{task}" target="#{taskDetailController.task}" />
                            <p:confirm header="Löschen bestätigen" message="Wirklich löschen?" icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>

                </p:dataTable>

                <p:dialog header="Aufgabe erstellen/bearbeiten" id="taskEditDialog" widgetVar="taskEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" closable="false">

                    <p:outputPanel id="taskData" rendered="#{not empty taskDetailController.task}">
                        <h:panelGrid columns="3">

                            <p:outputLabel for="title" value="Titel:"/>
                            <p:inputText id="title" value="#{taskDetailController.task.title}" required="true" />
                            <p:message for="title" id="msgtitle" display="icon" />

                            <p:outputLabel for="description" value="Beschreibung:"/>
                            <p:inputText id="description" value="#{taskDetailController.task.description}" required="true" />
                            <p:message for="description" id="msgdescription" display="icon" />

                            <p:outputLabel for="assigned" value="Zuständig:"/>
                            <p:selectOneMenu id="assigned" value="#{taskDetailController.task.assigned}" style="width:150px" filter="true" filterMatchMode="contains" required="true">
                                <f:converter converterId="genericconv" />
                                <f:selectItem itemLabel="Zuständiger" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{parentService.getAllActiveParents()}" var ="object" itemValue="#{object}" itemLabel="#{object}"/>
                            </p:selectOneMenu>
                            <p:message for="assigned" id="msgassigned" display="icon" />

                            <p:outputLabel for="fromDate" value="Von:"/>
                            <p:calendar id="fromDate" value="#{taskDetailController.task.fromDate}" required="true" readonlyInput="true" maxdate="#{taskDetailController.task.toDate}" showOn="button" locale="de" navigator="true">
                                <p:ajax event="dateSelect" update="toDate"/>
                            </p:calendar>
                            <p:message for="fromDate" display="icon" />

                            <p:outputLabel for="toDate" value="Bis:"/>
                            <p:calendar id="toDate" value="#{taskDetailController.task.toDate}" required="true" readonlyInput="true" mindate="#{taskDetailController.task.fromDate}" showOn="button" locale="de" navigator="true" >
                                <p:ajax event="dateSelect" update="fromDate"/>
                            </p:calendar>
                            <p:message for="toDate" display="icon" />


                        </h:panelGrid>        
                        <h:panelGrid columns="3">
                            <p:commandButton value="Speichern" update=":userForm:taskTable dlg" action="#{taskDetailController.doSaveTask()}" oncomplete="PF('dlg').show()" />
                            <p:commandButton value="Abbrechen" update="taskData" action="#{taskDetailController.doCancel()}" onclick="PF('taskEditDialog').hide()" immediate="true"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" oncomplete="#{taskListController.doReloadTaskList()}">
                        <p:ajax listener="#{taskListController.doReloadTaskList}" update=":userForm:taskTable" />
                    </p:commandButton>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:taskTable" />

                </p:confirmDialog>

                <p:dialog id="dlg" widgetVar="dlg" modal="true" resizable="false" header="#{taskDetailController.successHeader}" showEffect="fade" closable="false"> 
                    <p:outputPanel id="dlgcontent">
                        <p:outputPanel>
                            <h:outputText value="#{taskDetailController.successMsg}" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:commandButton value="OK" update=":userForm:taskTable" onclick="PF('taskEditDialog').hide()" oncomplete="PF('dlg').hide()" rendered="#{taskDetailController.success}" />
                            <p:commandButton value="OK" update="taskData" oncomplete="PF('dlg').hide()" rendered="#{not taskDetailController.success}" />
                        </p:outputPanel>

                    </p:outputPanel>
                </p:dialog>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>