<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <table>
            <tr>
                <td width="70%" valign="top">
                    <h:form>
                        <p:defaultCommand target="dummy"/>
                        <p:commandButton id="dummy" process="@none" global="false" style="display:none;"/>
                        <p:panel header="#{configurationController.config.name}" >
                            <div style="height:50px" >
                                Hallo #{sessionInfoBean.currentUser.person.firstName}!
                            </div>
                        </p:panel>
                        <p:panel header="Öffnungszeiten">
                            <h:panelGrid id="monday" columns="4" rendered="#{configurationController.monday.open}">
                                <p:outputLabel value="#{configurationController.monday.day.toString()}:" style="font-weight:bold "/>
                                <p:outputLabel value="#{childService.getActualCapacityForWeekday(configurationController.monday.day)} von" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value="#{configurationService.getForWeekday(configurationController.monday.day).childCapacity} Kinder" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel for="mondayBringStart" value="Bringzeiten:" />
                                <p:outputLabel id="mondayBringStart" value="#{configurationController.monday.bringStart}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="mondayBringEnd" value="#{configurationController.monday.bringEnd}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel for="mondayGetStart" value="Abholzeiten:"  />
                                <p:outputLabel id="mondayGetStart" value="#{configurationController.monday.getStart}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="mondayGetEnd" value="#{configurationController.monday.getEnd}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value=""/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value=""/>
                            </h:panelGrid>
                            <h:panelGrid id="tuesday" columns="4" rendered="#{configurationController.tuesday.open}">
                                <p:outputLabel value="#{configurationController.tuesday.day.toString()}:" style="font-weight:bold" />
                                <p:outputLabel value="#{childService.getActualCapacityForWeekday(configurationController.tuesday.day)} von" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value="#{configurationService.getForWeekday(configurationController.tuesday.day).childCapacity} Kinder" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel for="tuesdayBringStart" value="Bringzeiten:" />
                                <p:outputLabel id="tuesdayBringStart" value="#{configurationController.tuesday.bringStart}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="tuesdayBringEnd" value="#{configurationController.tuesday.bringEnd}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel for="tuesdayGetStart" value="Abholzeiten:"  />
                                <p:outputLabel id="tuesdayGetStart" value="#{configurationController.tuesday.getStart}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="tuesdayGetEnd" value="#{configurationController.tuesday.getEnd}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value=""/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value=""/>
                            </h:panelGrid>
                            <h:panelGrid id="wednesday" columns="4" rendered="#{configurationController.wednesday.open}">
                                <p:outputLabel value="#{configurationController.wednesday.day.toString()}:" style="font-weight:bold"/>
                                <p:outputLabel value="#{childService.getActualCapacityForWeekday(configurationController.wednesday.day)} von" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value="#{configurationService.getForWeekday(configurationController.wednesday.day).childCapacity} Kinder" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel for="wednesdayBringStart" value="Bringzeiten:" />
                                <p:outputLabel id="wednesdayBringStart" value="#{configurationController.wednesday.bringStart}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="wednesdayBringEnd" value="#{configurationController.wednesday.bringEnd}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel for="wednesdayGetStart" value="Abholzeiten:"  />
                                <p:outputLabel id="wednesdayGetStart" value="#{configurationController.wednesday.getStart}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="wednesdayGetEnd" value="#{configurationController.wednesday.getEnd}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                            </h:panelGrid>
                            <h:panelGrid id="thursday" columns="4" rendered="#{configurationController.thursday.open}">
                                <p:outputLabel value="#{configurationController.thursday.day.toString()}:" style="font-weight:bold"/>
                                <p:outputLabel value="#{childService.getActualCapacityForWeekday(configurationController.thursday.day)} von" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value="#{configurationService.getForWeekday(configurationController.thursday.day).childCapacity} Kinder" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel for="thursdayBringStart" value="Bringzeiten:" />
                                <p:outputLabel id="thursdayBringStart" value="#{configurationController.thursday.bringStart}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="thursdayBringEnd" value="#{configurationController.thursday.bringEnd}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel for="thursdayGetStart" value="Abholzeiten:"  />
                                <p:outputLabel id="thursdayGetStart" value="#{configurationController.thursday.getStart}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="thursdayGetEnd" value="#{configurationController.thursday.getEnd}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                            </h:panelGrid>
                            <h:panelGrid id="friday" columns="4" rendered="#{configurationController.friday.open}">
                                <p:outputLabel value="#{configurationController.friday.day.toString()}:" style="font-weight:bold"/>
                                <p:outputLabel value="#{childService.getActualCapacityForWeekday(configurationController.friday.day)} von" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value="#{configurationService.getForWeekday(configurationController.friday.day).childCapacity} Kinder" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel for="fridayBringStart" value="Bringzeiten:" />
                                <p:outputLabel id="fridayBringStart" value="#{configurationController.friday.bringStart}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="fridayBringEnd" value="#{configurationController.friday.bringEnd}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel for="fridayGetStart" value="Abholzeiten:"  />
                                <p:outputLabel id="fridayGetStart" value="#{configurationController.friday.getStart}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="fridayGetEnd" value="#{configurationController.friday.getEnd}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                            </h:panelGrid>
                            <h:panelGrid id="saturday" columns="4" rendered="#{configurationController.saturday.open}">
                                <p:outputLabel value="#{configurationController.saturday.day.toString()}:" style="font-weight:bold"/>
                                <p:outputLabel value="#{childService.getActualCapacityForWeekday(configurationController.saturday.day)} von" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value="#{configurationService.getForWeekday(configurationController.saturday.day).childCapacity} Kinder" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel for="saturdayBringStart" value="Bringzeiten:" />
                                <p:outputLabel id="saturdayBringStart" value="#{configurationController.saturday.bringStart}"  >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="saturdayBringEnd" value="#{configurationController.saturday.bringEnd}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel for="saturdayGetStart" value="Abholzeiten:"  />
                                <p:outputLabel id="saturdayGetStart" value="#{configurationController.saturday.getStart}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="saturdayGetEnd" value="#{configurationController.saturday.getEnd}">
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                            </h:panelGrid>
                            <h:panelGrid id="sunday" columns="4" rendered="#{configurationController.sunday.open}">
                                <p:outputLabel value="#{configurationController.sunday.day.toString()}:" style="font-weight:bold"/>
                                <p:outputLabel value="#{childService.getActualCapacityForWeekday(configurationController.sunday.day)} von" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value=""/>
                                <p:outputLabel value="#{configurationService.getForWeekday(configurationController.sunday.day).childCapacity} Kinder" rendered="#{sessionInfoBean.staff}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel value="" rendered="#{sessionInfoBean.parent}"/>
                                <p:outputLabel for="sundayBringStart" value="Bringzeiten:" />
                                <p:outputLabel id="sundayBringStart" value="#{configurationController.sunday.bringStart}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="sundayBringEnd" value="#{configurationController.sunday.bringEnd}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel for="sundayGetStart" value="Abholzeiten:"  />
                                <p:outputLabel id="sundayGetStart" value="#{configurationController.sunday.getStart}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="-"/>
                                <p:outputLabel id="sundayGetEnd" value="#{configurationController.sunday.getEnd}" >
                                    <f:convertDateTime pattern="HH:mm" locale="de" timeZone="CET"/>
                                </p:outputLabel>
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                                <p:outputLabel value="" />
                            </h:panelGrid>
                        </p:panel>
                    </h:form>
                </td>
                <td width="30%" valign="top" >
                    <p:panel header="Offene Aufgaben" rendered="#{sessionInfoBean.parent}">
                        <div>
                            <p:dataTable value="#{taskService.getTasksForParent(sessionViewController.person)}" var="task" emptyMessage="Keine offene Aufgaben">
                                <p:column headerText="Fällig bis">
                                    <h:outputText value="#{task.toDate}">
                                        <f:convertDateTime locale="de" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Beschreibung">
                                    <h:outputText value="#{task.title}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </p:panel>
                    <p:panel header="Offene Anfragen" rendered="false">
                        <div>
                            <p:dataTable value="#{dayExceptionService.allUnconfirmed}" var="exeption" emptyMessage="Keine offene Anfragen">
                                <p:column headerText="Datum">
                                    <h:outputText value="#{exeption.date}">
                                        <f:convertDateTime locale="de" timeZone="CET"/>
                                    </h:outputText> 
                                </p:column>
                                <p:column headerText="Beschreibung">
                                    <h:outputText value="#{exeption.description}"/>
                                </p:column>
                                <p:column headerText="Familie">
                                    <h:outputText value="#{exeption.child.lastName}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </p:panel>
                    <p:panel header="unbestätigte Bezugspersonen" rendered="false">
                        <div>
                            <p:dataTable value="#{referencePersonService.allUnconfirmedReferencePerson}" var="referencePerson">
                                <p:column headerText="Datum">
                                    <h:outputText value="#{referencePerson.firstName}"/>
                                </p:column>
                                <p:column headerText="Beschreibung">
                                    <h:outputText value="#{referencePerson.lastName}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </p:panel>
                    <p:panel header="unbestätigte Anfragen" rendered="#{sessionInfoBean.staff}">
                        <div>
                            <p:dataTable id="confirmTable" value="#{confirmationService.allConfirmations}" var="confirmation" emptyMessage="keine offenen Anfrage">
                                <p:column headerText="Art">
                                    <h:outputText value="#{confirmation.typeText}"/>
                                </p:column>
                                <p:column headerText="Beschreibung">
                                    <h:outputText value="#{confirmation.text}"/>
                                </p:column>
                                <p:column headerText="Aktion" style="width:100px;text-align: center" exportable="false">
                                    <p:commandButton action="#{confirmationDetailController.confirmConfirmation()}" update="confirmTable" icon="ui-icon-check" title="bestätigen">
                                        <f:setPropertyActionListener value="#{confirmation}" target="#{confirmationDetailController.confirmation}" />
                                    </p:commandButton>
                                    <p:commandButton action="#{confirmationDetailController.declineConfirmation()}" update="confirmTable" icon="ui-icon-close" title="ablehnen">
                                        <f:setPropertyActionListener value="#{confirmation}" target="#{confirmationDetailController.confirmation}" />
                                        <p:confirm header="Ablehnen bestätigen" message="Sind Sie wirklich sicher, dass Sie diese Anfrage ablehnen wollen? Der Ersteller wird verständigt" icon="ui-icon-alert" />
                                    </p:commandButton>
                                </p:column>

                            </p:dataTable>
                        </div>
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="500" closable="false">
                            <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check">

                            </p:commandButton>
                            <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update=":userForm:taskTable" />

                        </p:confirmDialog>
                    </p:panel>

                </td>
            </tr>    
        </table>

    </ui:define>
</ui:composition>