<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>

        <ui:composition>

            <h:form>
                <p:panel style="margin-bottom: 10px">
                    <div style="margin-bottom: 150px">
                        <div style="float: left">
                            <center><h1>#{configurationService.config.name}</h1></center>
                        </div>
                        <img style="height:150px; float:right" src="#{configurationService.config.logoUrl}" />
                    </div>
                </p:panel>

                <!-- menu for staff -->
                <p:menubar rendered="#{sessionInfoBean.staff}">
                    <p:menuitem url="/secured/welcome.xhtml" icon="ui-icon-home" title="Icon Only"/>
                    <p:submenu label="Planer">
                        <p:menuitem value="Kalender" url="/staff/planner_table.xhtml"/>
                        <p:menuitem value="Tagesliste" url="/staff/planner_list.xhtml"/>
                    </p:submenu>
                    <p:submenu label="Kinder">
                        <p:menuitem value="Übersicht" url="/staff/child_overview.xhtml"/>
                        <p:menuitem value="Bezugspersonen" url="/staff/child_referenceperson.xhtml" />
                        <p:menuitem value="Tagesausnahmen" url="/staff/manage_requests.xhtml" />
                        <p:menuitem value="Kontaktliste" url="/staff/child_contacts.xhtml" />
                    </p:submenu>
                    <p:submenu label="Benutzer">
                        <p:menuitem value="Erziehungsberechtigte" url="/staff/manage_parents.xhtml"/>
                        <p:menuitem value="Personal" url="/staff/manage_staff.xhtml" />
                    </p:submenu>
                    <p:menuitem value="Aufgaben" url="/staff/task_manage.xhtml"/>
                    <p:submenu label="System">
                        <p:menuitem value="Konfiguration" url="/staff/manage_config.xhtml" />
                        <p:menuitem value="Feiertage" url="/staff/manage_holidays.xhtml" />
                    </p:submenu>
                    <p:menuitem value="Login" url="/login.xhtml" rendered="#{!sessionInfoBean.loggedIn}"/>
                    <p:menuitem value="Logout" url="/logout" rendered="#{sessionInfoBean.loggedIn}"/>
                </p:menubar>

                <!-- menu for parents -->
                <p:menubar rendered="#{sessionInfoBean.parent}">
                    <p:menuitem url="/secured/welcome.xhtml" icon="ui-icon-home" title="Icon Only"/>
                    <p:menuitem value="Meine Aufgaben" url="/parents/tasks.xhtml" />
                    <p:menuitem value="Meine Kinder" url="/parents/child_data.xhtml" />
                    <p:menuitem value="Bezugspersonen" url="/parents/child_referenceperson.xhtml" />
                    <p:menuitem value="Anfragen" url="/parents/manage_requests.xhtml" />
                    <p:menuitem value="Meine Daten" url="/parents/manage_mydata.xhtml"/>    
                    <p:menuitem value="Login" url="/login.xhtml" rendered="#{!sessionInfoBean.loggedIn}"/>
                    <p:menuitem value="Logout" url="/logout" rendered="#{sessionInfoBean.loggedIn}"/>
                </p:menubar>
            </h:form>
        </ui:composition>
    </body>
</html>

